[2012-03-20 22:08] sjackman opened #1 "abyss-scaffold: Assertion `v1 != v2' failed"
From:   Nathaniel Street
Date:   2012-03-15 15:33:30  PDT

Hi

My assembly has crashed during the MP scaffolding step with the error

abyss-scaffold: scaffold.cc:227: void resolveForks(Graph&, const Graph&): Assertion `v1 != v2' failed.
/bin/bash: line 1: 30823 Aborted                 abyss-scaffold -v -k47 -s200-5000 -n3 -g abyss008-6.path1.dot abyss008-6.dot MP1-6.dist.dot MP2-6.dist.dot > abyss

[2012-03-20 22:31] #1 closed, assigned to sjackman

[2012-03-20 23:38] sjackman opened #2 "warning: converting to size_t from double"
g++ -DHAVE_CONFIG_H -I. -I..  -I.. -I../Common -I../DataLayer -I.  -I/
usr/local/openmpi/include -I/usr/local/sparsehash-1.10/include -Wall -
Wextra -Werror -g -O2 -MT libassembly_a-AssemblyAlgorithms.o -MD -MP -
MF .deps/libassembly_a-AssemblyAlgorithms.Tpo -c -o libassembly_a-
AssemblyAlgorithms.o `test -f 'AssemblyAlgorithms.cpp' || echo
'./'`AssemblyAlgorithms.cpp
cc1plus: warnings being treat

[2012-03-20 23:41] #2 closed, assigned to sjackman

[2012-03-21 00:11] sjackman opened #3 "ParseAligns -l is broken"
The option -l of ParseAligns is broken, giving the error message
ParseAligns: invalid option: `-l32'

ParseAligns is only used when using KAligner:
abyss-pe aligner=kaligner

[2012-03-21 00:16] #3 closed, assigned to nobody

[2012-03-23 22:02] sjackman opened #4 "abyss-map: error: Invalid argument"
abyss-map and abyss-index will return error: Invalid argument on OS X when the reference file is larger than 2 GB.

[2012-03-23 22:37] #4 closed, assigned to sjackman

[2012-03-28 16:59] sjackman opened #5 "scaffold.cc: warning: converting to unsigned int from double"
Laurent MANCHON wrote...

Hi,

in the last version of Abyss (1.3.3)
when compiling i have this error:

[code]

Any patch exists ?

thank you for your help.

[2012-04-04 19:00] #5 closed, assigned to sjackman

[2012-04-17 22:57] sjackman opened #6 "MergePaths: Assertion failed: (!m_ambig)"
A bug in MergePaths causes the following error in PathConsensus:
Assertion failed: (!m_ambig), function index, file ../../Common/ContigNode.h, line 141.

MergePaths may output two gaps immediately next to each other with no contig in between:
818857- 1N 130N 2701535+

[2012-04-17 23:07] #6 closed, assigned to sjackman

[2012-05-08 23:43] sjackman opened #7 "Does not compile with GCC 4.7"
../../FMIndex/FMIndex.h: In function 'std::istream& operator>>(std::istream&, FMIndex&)':
../../FMIndex/FMIndex.h:540:7: error: variable 'c' set but not used [-Werror=unused-but-set-variable]

and

I am trying to compile Abyss 1.3.3 on a Linux machine with GCC 4.7.0
and Boost 1.49.0 and am running into the following issues:

abyss-fixmate.cc:130:8: error: ‘intptr_t’ does not name a type
abyss-fixm

[2012-05-08 23:47] sjackman opened #8 "SimpleGraph: extendPaths misassembles"
The fermi/misc/sam2break script shows that for the human data NA12878, the extendPaths call of SimpleGraph misassembles.

[2012-05-09 00:00] #7 closed, assigned to sjackman

[2012-05-30 23:12] #8 closed, assigned to sjackman

[2012-06-16 00:36] sjackman opened #9 "Multi-line CASAVA-formatted FASTQ files are broken"
Test case:

[code]

[2012-06-16 00:42] #9 closed, assigned to sjackman

[2012-07-26 22:42] carojasq opened #10 "Abyss 1.3.4 and GCC 4.1 DistanceEst.cpp:141: aviso: convirtiendo a ‘int’ desde ‘double’:"
When i'm doing 'make' abyss with gcc 4.1 i got the following error.

make[2]: se ingresa al directorio `/home/velvet/abyss-1.3.4/DistanceEst'
g++ -DHAVE_CONFIG_H -I. -I..  -I.. -I../Common -I.    -Wall -Wextra -Werror -fopenmp -g -O2 -MT DistanceEst-DistanceEst.o -MD -MP -MF .deps/DistanceEst-DistanceEst.Tpo -c -o DistanceEst-DistanceEst.o`test -f 'DistanceEst.cpp' || echo './'`DistanceEst.cpp
cc1

[2012-08-01 23:41] #10 closed, assigned to nobody

[2012-08-27 20:47] traymond opened #11 "ABYSS-P not exiting when file not found by bunzip2"
[code]

ABYSS-P continues when bunzip2 returns an error that the file is empty. Occurs on Centos 5.4, but not on Mac OS X.

[2012-08-29 18:01] #11 closed, assigned to nobody

[2012-08-30 01:47] traymond opened #12 "Error running DistanceEst with Bowtie, Bowtie 2 and BWA"
Thanks to Simone Scalabrin for sending test data to reproduce this error:
DistanceEst: error: The observed fragment of size 128 bp is shorter than 2*l (l=71). Decrease l to 64.

The minimum alignment length, 'l', is not used by Bowtie or BWA, and causes the above error.

[2012-08-31 01:11] #12 closed, assigned to traymond

[2012-08-31 16:35] sjackman opened #13 "Fails to compile on OS X 10.8 Mountain Lion"
ABySS 1.3.4 fails to compile on OS X 10.8 Mountain Lion. There's some issue with stl_relops.h.

[code]

[2012-09-03 21:06] #13 closed, assigned to traymond

[2012-09-25 08:36] jts opened #14 "abyss-map cannot handle multi-line fasta"
I'm trying to use abyss-map with a multi-line fasta file (sequences are broken across multiple lines). Unfortunately FastaIndex assumes that the sequence are on a single line, so the assertion on line 83 trips. Would it be possible to support multi-line fasta?

[2012-10-19 21:14] sjackman opened #15 "abyss-samtobreak: automake error"
[code]

[2012-10-19 21:21] #15 closed, assigned to sjackman

[2012-12-03 19:04] traymond opened #16 "DistanceEst error when no read pairs align to different contigs"
This error could be more helpful:
DistanceEst: DistanceEst.cpp:534: int main(int, char**): Assertion `in' failed.

It will occur any time there is only one unitig.

[2013-02-01 18:59] #16 closed, assigned to sjackman

[2013-07-17 05:05] ikitayama opened #19 "Stats is different when ABYSS-P is used"
Here are the Statistics on the suggested test data set downloaded from the bcgsc site:

Non-MPI result is below:

n n:500 n:N50 min N80 N50 N20 max sum
817 108 38 509 642 905 1323 2260 93364 test-unitigs.fa
497 80 19 500 1418 2969 5099 10702 173468 test-contigs.fa
421 26 6 578 6166 10350 20266 27989 180109 test-scaffolds.fa

4-node parallelism provides a bit different stats:

n n:500 n:N50 min N80

[2013-07-23 03:29] ikitayama opened #20 "ABYSS-P hangs at higher parallelism"
With MAX_MESSAGES set to 100, ABYSS-P with np 8 or higher number of parallelism on the sparc based system hangs at NAS_GEN_ADJ state as two nodes issue MPI_Send almost at the same time against each other. MPI_Send is called by setBaseExtension while iterating through the k-mers assigned.

In my recollection, on x86 clusters I never observed above even with slightly higher parallelism - 16 or 32.

[2013-08-02 16:52] sjackman opened #24 "Support mapping reads using BWA-mem"
Need to create a script named abyss-bwamem.

[2013-08-08 02:33] #20 closed, assigned to nobody

[2013-08-12 04:25] ikitayama opened #25 "Assertion `it != m_edges.end()' failed."
Removing shim contigs from the graph...
abyss-filtergraph: ../Graph/DirectedGraph.h:301: const EdgeProp &DirectedGraph<VertexProp, EdgeProp>::Vertex::operator[](ContigNode) const [with VertexProp = ContigProperties, EdgeProp = Distance]: Assertion `it != m_edges.end()' failed.
/bin/bash: line 1:  7160 Aborted                 abyss-filtergraph -v -k65 -g celegans-small-2.adj celegans-small-1.adj >

[2013-08-15 17:48] sjackman opened #26 "error: typedef 'vertex_descriptor' locally defined but not used"
BTW, I checked the latest version and injected it into the Git
repository but I realised that it does not build because of:

g++ -DHAVE_CONFIG_H -I. -I..  -I.. -I../Common -I../DataLayer -I.  -I/usr/lib/openmpi/include -D_FORTIFY_SOURCE=2 -Wall -Wextra -Werror -g -O2 -fstack-protector --param=ssp-buffer-size=4 -Wformat -Werror=format-security -c -o libassembly_a-DotWriter.o `test -f 'DotWriter.cpp

[2013-08-23 03:37] ikitayama opened #27 "Downstream parallelization"
After ABYSS-P the downstream analyses can not complete if one doesn't have a high-end machine which has enough memory. Any plans to introduce MPI apps to the downstream processes?

[2013-08-25 07:36] #25 closed, assigned to nobody

[2013-08-25 07:43] ikitayama opened #28 "AdjList produces incorrect adjacency info"
On the sparc machine AdjList makes incorrect -1.adj file that aren't usable in the downstream analyses. I compared it against the -1.adj file made on the x86, about 0.3% of the u->v records are different.

[2013-08-29 16:10] bollig opened #29 "System.IO.MMap Error (abyss 1.3.6)"
When building:

./configure --prefix=/soft/abyss/1.3.4 CPPFLAGS=-I/soft/sparsehash/2.0.2/include --enable-maxk=96 --with-mpi=/soft/openmpi/gcc/1.7.2-gnu-4.8.1-static/
make
[...]
ghc --make -O2 -hidir ./ -odir ./ -o abyss-samtobreak samtobreak.hs

samtobreak.hs:16:8:
    Could not find module `System.IO.MMap':
      Use -v to see a list of the files searched for.
make[2]: **\* [abyss-samtobreak] Er

[2013-09-10 18:59] #29 closed, assigned to traymond

[2013-09-10 21:52] sjackman opened #30 "sam2afg: Skip secondary alignments"
Dr. James Abbott wrote...

Hello,

I see Shaun Jackmans' (abyss-)sam2afg script is available within the
Amos source repository. I find this very useful for coercing output from
assemblers which which don't track read location into amos by remapping
reads against the assembly and converting to afg - not ideal but better
than nothing when you don't have the 'real' read locations to work with.

This

[2013-09-11 07:34] ikitayama opened #31 "Processing many files"
@sjackman @traymond

Please review this patch for the 1.3.7 inclusion. To workaround the problem awk can't handle many files at once.
diff --git a/Parallel/parallelAbyss.cpp b/Parallel/parallelAbyss.cpp
index dbdaced..ee05883 100644
--- a/Parallel/parallelAbyss.cpp
+++ b/Parallel/parallelAbyss.cpp
@@ -39,10 +39,10 @@ static void concatenateFiles(const string& dest,
 {
        cout << "Concatenatin

[2013-09-11 17:28] #30 closed, assigned to traymond

[2013-09-27 22:15] sjackman opened #32 "KAligner fails to build with clang 5.0"
[code]

[2013-10-03 17:37] sjackman opened #34 "abyss-fac: Add contig E-size"
The contig E-size is defined in [GAGE](http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3290791/).

![contig E-size](http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3290791/bin/557equ1.jpg)

[2013-10-23 21:23] #32 closed, assigned to nobody

[2013-10-31 22:50] sjackman opened #35 "error: no viable conversion from 'std::istream' (aka 'basic_istream<char>') to 'void *'"
Does not compile on OS X 10.9 Mavericks

[code]

[2013-11-08 20:30] sjackman opened #36 "automake warning: the 'subdir-objects' automake option hasn't been enabled"
[code]

[2013-11-08 20:35] #36 closed, assigned to nobody

[2013-11-08 21:24] sjackman opened #37 "error: implicit instantiation of undefined template 'std::__1::hash<cstring>'"
Does not compile with clang on OS X 10.9 Mavericks.

[code]

[2013-11-09 01:20] sjackman opened #38 "error: call to 'copy_if' is ambiguous"
Seen with clang, or likely any C++11 compiler.

[code]

[2013-11-09 01:36] sjackman opened #39 "error: call to 'cref' is ambiguous"
Seen with clang, or likely any C++11 compiler.

[code]

[2013-11-09 01:37] sjackman opened #40 "error: use of overloaded operator '!=' is ambiguous"
I believe this issue is caused by a compiler bug in clang.

[code]

[2013-11-09 02:02] #26 closed, assigned to sjackman

[2013-11-09 02:02] #37 closed, assigned to sjackman

[2013-11-09 02:02] #38 closed, assigned to sjackman

[2013-11-09 02:02] #39 closed, assigned to sjackman

[2013-11-09 02:02] #40 closed, assigned to sjackman

[2013-11-09 02:05] #35 closed, assigned to sjackman

[2013-11-12 20:44] sjackman opened #41 "Generate the stats file in multiple formats: tab-delimited, Markdown, HTML and CSV"
It would be nice to output the stats file in multiple formats. The tab-delimited format would be the primary output, and the others generated from that.
- tab-delimited for awk, R and similar tools
- Markdown for e-mail and conversion to HTML
- HTML for e-mail and printing
- CSV for spreadsheets

[2013-11-15 23:52] #24 closed, assigned to sjackman

[2013-11-18 19:51] #31 closed, assigned to sjackman

[2013-11-21 01:17] kmnip opened #42 "Alignments are written to *.sam.gz instead of being piped to DistanceEst"
Sometimes alignments are written to *.sam.gz instead of being piped to DistanceEst although *.sam.gz was not specified as an endpoint in abyss-pe.

Reads-to-unitig alignments are written to *-3.sam.gz with this command:
$ abyss-pe [options] contigs
An endpoint is specified.

Reads-to-unitig alignments are piped to DistanceEst with one of these commands:
$ abyss-pe [options] unitigs contigs
An endp

[2013-11-25 21:39] #41 closed, assigned to sjackman

[2013-11-25 21:45] #34 closed, assigned to traymond

[2013-11-25 21:48] #19 closed, assigned to traymond

[2013-12-04 20:54] traymond opened #43 "Error when SAM file contains @CO headers"
From the SAM spec, the headers should match this:

[code]

The first case is handled, but not the `@CO` tags. This was reported with the error:

[code]

[2013-12-11 22:12] #43 closed, assigned to nobody

[2014-01-01 01:50] sjackman opened #44 "abyss-fixmate: std::unordered_map::erase can be slow"
With a large number of buckets and low density, std::unordered_map::erase can be very slow. [handleAlignment](https://github.com/bcgsc/abyss/blob/master/ParseAligns/abyss-fixmate.cc#L187) calls std::unordered_map::erase. Using [boost::unordered_map::quick_erase](http://www.boost.org/doc/libs/1_55_0/doc/html/boost/unordered_set.html#idp98001144-bb) is a straight-forward fix suggested by the submitt

[2014-01-11 01:18] #44 closed, assigned to traymond

[2014-01-12 17:08] sjackman opened #45 "Reduce FR/RF threshold for MP libraries"
The threshold to decide whether a library is FR or RF is currently 50% and should probably be reduced (1%?) to be more inclined to select RF.

[2014-01-13 02:39] sjackman opened #46 "Support reading CRAM data"
The next release of samtools is meant to support the CRAM file format.

[2014-02-08 08:13] ikitayama opened #47 "PATCH for comping 1.3.7 with FCC"
FCC doesn't support std::hash nor std::tr1::hash. Use boost as an alternative.

Patch is below.

[code]

[2014-02-14 01:29] #47 closed, assigned to sjackman

[2014-02-17 03:57] sjackman opened #49 "Document ABySS file formats"
I've started a wiki page here:
https://github.com/bcgsc/abyss/wiki/ABySS-File-Formats

[2014-02-20 17:42] ahammel opened #50 "Autconf complains of undefined macros"
I'm getting rather cryptic build errors on the 1.3.7 release and later:

[code]

I can power through just by runnning autogen.sh again, but this seems to break
a the dialgin build, and (possibly unrelated) the 'docdir' variable goes
missing:

[code]

And then again during the configuration step:

[code]

Interestingly, the error I marked above isn't present in the 1.3.4 release:

[code]

I suspect

[2014-02-20 22:18] #50 closed, assigned to nobody

[2014-03-07 20:27] sjackman opened #53 "make: mixed implicit and normal rules"
Courtney Hofman wrote...

[2014-03-07 20:55] #45 closed, assigned to nobody

[2014-03-07 21:01] #49 closed, assigned to nobody

[2014-03-07 23:58] #28 closed, assigned to nobody

[2014-05-06 09:07] binlangman opened #55 "errors when running abyss-pe"
I run abyss-pe using the following command:
 abyss-pe k=25 name=test in='test-data/reads1.fastq test-data/reads2.fastq'
but there is an error. The message which the terminal output is:
ABYSS -k25 -q3  --coverage-hist=coverage.hist -s test-bubbles.fa  -o test-1.fa test-data/reads1.fastq test-data/reads2.fastq
ABySS 1.2.5
ABYSS -k25 -q3 --coverage-hist=coverage.hist -s test-bubbles.fa -o test-1.fa t

[2014-05-07 22:30] #53 closed, assigned to traymond

[2014-06-23 16:22] charmichaeld opened #57 "DistanceEst missing options"
Hello,
I have version abyss-pe (ABySS) 1.5.1 compiled with maxk=128
I ran abyss-pe --dry-run and looked at the commands. The first two DistanceEst commands have values for -l -s -n and -o

[code]

But the third DistanceEst command is lacking values for -l -s n and -o

[code]

Also when using a kmer of 111, the -s value is set to 200 which gives the warning:

[code]

Is this the expected behavior?

[2014-06-23 17:14] charmichaeld opened #58 "DistanceEst missing options"
Hello,
I have version abyss-pe (ABySS) 1.5.1 compiled with maxk=128
I ran abyss-pe --dry-run to look at the commands.

[code]

The first two DistanceEst commands have values for -l -s -n and -o

[code]

But the third DistanceEst command is lacking values for -l -s n and -o

[code]

Also when using a kmer of 111, the -s value is set to 200 which gives the warning:

[code]

Is this the expected beha

[2014-06-23 17:15] #58 closed, assigned to nobody

[2014-06-23 18:43] #57 closed, assigned to nobody

[2014-07-10 22:41] #55 closed, assigned to nobody

[2014-09-26 21:14] ahammel opened #59 "abyss-map crashes when a FASTA header matches the query better than the sequence"
For instance:

[code]

That's pretty inconvenient for us when, for instance, we're using the header to track which sequence variant we're looking for in the query.

For a quick work-around, it would be nice if crash message identified the problematic sequence so I can change the name.

Cheers,
Alex

[2014-11-21 03:24] ikitayama opened #60 "Running ABySS on aarch64 machine"
Version 1.5.2 is built without a problem on an APM's X-Gene server. Programs including ABYSS-P in the package all ran fine and assembly statistics are consistent with results obtained on x86.

[2014-11-21 17:59] #60 closed, assigned to traymond

[2014-12-05 09:54] yannickwurm opened #61 "subcommand gives incorrect version"
After git clone, autoconf, configure & make, `./bin/abyss-pe -v` returns the version of GNU make rather than the version of abyss. This is a bit surprising.
(I haven't tested other subcommands)

[2014-12-05 22:22] #61 closed, assigned to sjackman

[2015-01-15 20:16] readmanchiu opened #62 "sparsehash error"
deleted

[2015-01-15 21:15] #62 closed

[2015-01-20 18:39] jewmanchue opened #63 "command line errors"
~/tools/abyss/bin/abyss-pe in='11186X2_WOE_A19_ALM_F.sort.realign.scaffold6:3100000-3250000.bam' name="WOE-3100000-3250000" k=40
abyss-filtergraph    -k40 -g WOE-3100000-3250000-2.adj WOE-3100000-3250000-1.adj >WOE-3100000-3250000-1.path
PopBubbles  -j2 -k40  -p0.9  -g WOE-3100000-3250000-3.adj WOE-3100000-3250000-1.fa WOE-3100000-3250000-2.adj >WOE-3100000-3250000-2.path
PopBubbles: invalid optio

[2015-01-20 18:39] #63 closed

[2015-01-23 19:16] prehensilecode opened #64 "Compilation error with icc / sparsehash-2.0.2"
I have:
- gcc 4.8.1
- sparsehash 2.0.2
- abyss 1.5.2

sparsehash built and tested OK.

abyss configure went OK, and found sparsehash. During make, these errors appear:

[code]

Editing `config.status` to remove `-Werror` allows make to complete successfully.

[2015-01-23 20:57] benvvalk commented on #64
Hi prehensilecode,

You can work around the issue by setting CFLAGS="-Wno-error" and CXXFLAGS="-Wno-error" before running the configure step, i.e.:

[code]

They are not serious errors.  The problem is just that we have set ABySS to treat compiler warnings as errors by default (in order to discipline ourselves to write cleanly-compiling code), but in your particular setup (compiler/OS/sparsehash v

[2015-01-26 17:57] sjackman commented on #64
That would also have the side effect of disabling optimization. Try instead:
[code]

[2015-01-26 17:58] sjackman commented on #64
For the record, the default values are:
[code]

[2015-01-26 18:12] benvvalk commented on #64
Good to know.  Thank you, Shaun.

[2015-01-26 18:42] sjackman commented on #64
I'm not able to reproduce this issue with ABySS head, gcc 4.8.4, sparsehash 2.0.2.

[code]

[2015-01-28 19:52] rmar3a commented on #59
Hi,

I was wondering if this bug will be fixed?

Thank you,
Richard

[2015-01-28 22:17] benvvalk commented on #59
@rmar3a Thanks for the reminder.  Sure, I will try to fix it in the near future and will send you a patch if I am successful.

[2015-01-28 22:19] sjackman commented on #59
Hi, Richard. If the matching text is in the comment rather than the ID of the FASTA header, a workaround is to strip comments using seqtk or similar.

[code]

[2015-01-28 22:19] sjackman commented on #59
And please accept my apologies for introducing this rather unsightly bug.

[2015-04-28 04:14] daisieh opened #66 "Abyss crashes on aTRAM step"
I am not sure what is happening, but when I try to assemble the reads found by aTRAM using this command:
[code]

it always fails with this error:
[code]

[2015-04-28 17:30] benvvalk commented on #66
Hi Daisie,

Sorry, I need a bit more data.  Can you provide the full log output of your ABySS run?  (There may be useful clues in the log output of the upstream steps.)  Also, if possible, please turn on the verbose logging option by adding 'v=-v' to the abyss-pe command.

I suspect that ABySS is failing because the scaffolding algorithm isn't finding any paired end links between contigs, and that

[2015-04-28 19:01] sjackman commented on #66
It looks like one or both of these files is corrupt:
+ `/Users/daisie/test/testout.1.blast.fasta_temp-6.dot`
+ `/Users/daisie/test/testout.1.blast.fasta_temp-6.dist.dot`

[2015-04-29 22:08] daisieh commented on #66
That's true, we probably don't need scaffolding. Thanks guys!

[2015-04-29 22:41] sjackman commented on #66
Has that resolved your issue then, Daisie? If you don't need scaffolding, you can add `unitigs` to your `abyss-pe` command line to disable contigging/scaffolding with paired-end data.

[2015-04-30 03:21] daisieh commented on #66
I'll talk to Julie about it, but I think this does solve it. Thanks!

[2015-04-30 03:21] #66 closed

[2015-05-07 09:25] wookietreiber opened #67 "error during make check, target common_stringutil"
[code]

[2015-05-07 09:29] wookietreiber commented on #67
I am on up-to-date Arch Linux, my [PKGBUILD](https://wiki.archlinux.org/index.php/PKGBUILD) (which is the Arch Linux way of preparing a software package) looks as follows:

[code]

[2015-05-07 15:56] benvvalk commented on #67
Hi @wookietreiber,

It looks like an error when linking to the Google Test library.  (In the future, we should probably just bundle Google Test with ABySS, since that is the method recommended by the gtest people.)

`configure` for ABySS has a `--with-gtest` option which you can point to the root of Google Test source tree, e.g.  `--with-gtest=/home/johndoe/src/gtest-1.7.0`.

If that doesn't help,

[2015-05-07 17:23] sjackman commented on #67
This linker option looks a bit odd `-Wl,-O1,--sort-common,--as-needed,-z,relro`. Does it compile if you remove it?

[2015-05-08 07:23] wookietreiber commented on #67
@benvvalk I had not used `--with-gtest` before since it is installed in a standard location. Even with an explicit `--with-gtest=/usr` it results in the same error.

@sjackman I have removed these linker flags, still no joy.

[2015-05-08 07:40] wookietreiber commented on #67
It seems like the linker flags are missing `-lgtest`. When I go to the directory and cut down the `g++` to the bare essentials I experimented with what I found on the web, see [1](http://stackoverflow.com/questions/26232237/google-testing-missing-dso) and [2](https://stackoverflow.com/questions/27091412/how-to-compile-a-gtest-cpp-file).

[code]

Seems the trick is to not only link against `gtest_m

[2015-05-08 07:59] wookietreiber commented on #67
It finally worked with that approach. My [PKGBUILD](https://wiki.archlinux.org/index.php/PKGBUILD) now looks as follows (the important changes are in the `prepare` function):

[code]

I think a patch can be easily made from these changes. I wonder why others did not experience this problem or did not report it.

[2015-05-08 11:18] wookietreiber commented on #67
Might be even better to just set the following in `configure.ac`:

[code]

[2015-05-08 16:38] sjackman commented on #67
The recommended method of building gest is `make -C make` (see https://github.com/smarr/googletest/blob/master/make/Makefile#L65-L66), and that builds a library `gtest_main.a` that includes both `-lgtest_main` and `-lgtest` in a single library. In the feature I think we'll just vendor in the gtest dependency. Depending on gtest as an external dependency is a bit of mess.

[2015-05-08 16:42] benvvalk commented on #67
Thanks very much, @wookietreiber.

@sjackman: Yes, I agree, let's bundle GTest with ABySS.

[2015-05-17 11:17] mcirsta opened #68 "compilation fails on i686 ( 32 bits )"
When compiling abyss 1.5.2 on i686 I get the following error:

[code]

This is probably because size_t is 32 bits only so left shifting with 40 bits will not have the desired effects.
To fix this I suggest using uint64_t instead.

[2015-05-17 12:53] mcirsta commented on #68
After fixing some type problems ( see pull request ) I'm getting this error:

g++ -Wall -Wextra -Werror -Wno-unused-local-typedefs  -Wl,--hash-style=both -o abyss-fac abyss_fac-fac.o libdatalayer.a ../Common/libcommon.a -ldl -lm
../Common/libcommon.a(libcommon_a-Sequence.o): In function `reverseComplement(std::string const&)':
Sequence.cpp:(.text+0x16f): undefined reference to `opt::colourSpace'
.

[2015-05-19 16:00] benvvalk commented on #68
Thanks @mcirsta for the bug report and the associated patch.  I will look into it.

[2015-05-20 00:00] yesimon opened #70 "Force abyss-pe to run with ABYSS instead of ABYSS-P"
The makefile for abyss-pe normally tries to run ABYSS-P if cluster compute vars are in the environment or np is set. Is there a way to force running ABYSS even if cluster variables are set? Right now I have commented out the section in abyss-pe that detects mpirun.

[2015-05-20 06:02] sjackman commented on #70
Unset `NSLOTS` (or the equivalent for your scheduler) before you run `abyss-pe`.

[code]

[2015-05-20 06:02] #70 closed

[2015-05-20 16:09] benvvalk commented on #70
Thanks, Shaun!

[2015-06-02 08:52] wookietreiber commented on #67
With 1.9.0 gtest is included and there are no errors.

[2015-06-02 08:52] #67 closed

[2015-06-02 22:43] sjackman opened #71 "make check: undefined reference to `pthread_getspecific'"
[code]

[2015-06-02 22:46] sjackman commented on #71
This line is incorrect:
https://github.com/bcgsc/abyss/blob/master/Unittest/Makefile.am#L191
[code]
should be
[code]

[2015-06-02 22:51] benvvalk commented on #71
Argh.  Just fixed in 62b16ea07020fab506ddaad97f5c4766ac6bc4aa.

[2015-06-02 22:53] sjackman commented on #71
Hi, Ben. Can you add `Closes bcgsc/abyss#71` to the commit log of 62b16ea07020fab506ddaad97f5c4766ac6bc4aa and force push it?

[2015-06-02 22:54] #71 closed

[2015-06-02 22:55] sjackman commented on #71
It should be possible to get rid of all the separate `*_CXXFLAGS` definitions that are all the same and replace them all with something like
[code]

[2015-06-21 05:05] bschiffthaler opened #74 "abyss-bloom enhancements"
Hi, I wrote two additions to abyss-bloom in my fork [here](https://github.com/bschiffthaler/abyss), mainly to use it for reference free comparisons of data. Firstly, I implemented some binary similarity calculations to compare two bloom filters (Jaccard, Czekanowski, Forbes). Secondly, I added a function to output a FASTA of k-mers, which are in the Bloom filter, to stdout.

Changes are so far onl

[2015-06-22 19:12] benvvalk commented on #74
Neat :-) These are handy features.  Thanks very much for sharing your code, @bschiffthaler!  I pulled your commits into our master (commit dbd3c661285e5db765decc5bc04f336a55fcfa00).

[2015-06-22 19:12] #74 closed

[2015-06-23 11:47] kblin opened #75 "Invalid LICENSE file"
Hi folks,
The usual "I am not a lawyer" disclaimer applies for the following.
While I very much appreciate you distributing ABySS under a GPLv3 license, I don't think your "non-commercial" additional requirement results in a valid license. While of course the copyright holder gets to pick whatever license they like, if I were to distribute ABySS without making money of it, I could only distribute

[2015-06-23 17:10] sjackman commented on #75
Thanks for you concern, Kai. It is a sticky point, and I do not know the answer for certain. My interpretation is below. I also am not a lawyer, and I also am not the copyright holder, and so I do not pick the license, though I do have input.

The license gives you the right to redistribute the software. I do not believe that the recipient receiving a copy of the software from you also conveys to

[2015-06-23 17:10] #75 closed

[2015-06-23 17:18] sjackman commented on #74
See 0959c62 and 7e8b010 for @bschiffthaler 's commits.

[2015-06-23 17:18] sjackman commented on #74
Thanks for you contribution!

[2015-06-23 17:26] sjackman commented on #74
See

+ [Jaccard Index](https://en.wikipedia.org/wiki/Jaccard_index)
+ Czekanowski, aka [Sørensen–Dice coefficient](https://en.wikipedia.org/wiki/S%C3%B8rensen%E2%80%93Dice_coefficient)

I haven't found a good online reference for the Forbes distance. All I found was this Google Books [page](https://books.google.ca/books?id=03iAsdAcXHcC&pg=PA698&lpg=PA698&dq=Jaccard,+Czekanowski,+Forbes&source=bl&o

[2015-06-23 21:33] bschiffthaler commented on #74
Sure, I was using [this[(http://www.iiisci.org/Journal/CV$/sci/pdfs/GS315JG.pdf) paper as a general reference. I included it as a correlation-based means of similarity calculation. If you let:

a - cases where both bits are 1 (1/1)
b - cases where 1/0
c - cases where 0/1
n - all cases

Forbes similarity (called Forbes II in the aforementioned paper) is calculated as:
![screenshot 2015-06-23 23 30

[2015-06-23 22:53] sjackman commented on #74
Thanks. That paper is a useful reference.

[2015-07-10 17:32] damiankao opened #77 "Number of input files affects assembly speed"
Inputting multiple smaller files vs inputting one large file affects the assembly speed. Probably has something to do with parallel processing of input files.

[2015-07-10 17:37] sjackman commented on #77
See https://www.biostars.org/p/150328/

[2015-07-11 17:39] macmanes opened #78 "sort issue?"
During abyss-map ABySS 1.9.0. Happened twice in a row.

[code]

[code]

[2015-07-11 23:26] benvvalk commented on #78
Hi Matt,

The ABySS pipeline assumes numeric IDs for the contigs.  My guess would be that you are getting the error because you are doing the de Bruijn assembly with an external tool and then feeding the result into ABySS for the contig/scaffold stages.  Is that a correct guess? There is nothing wrong with that idea, but you will have to rename the IDs in your file.  I find `bioawk` is a pretty ha

[2015-07-12 12:17] macmanes commented on #78
Nope, this is all ABySS..

[code]

[2015-07-13 16:17] benvvalk commented on #78
Egads, I'm not sure how that's even possible!

Do the IDs in Mya71-1.fa and Mya71-2.fa also have `:` in them?  I'm really confused.

[2015-07-13 16:59] macmanes commented on #78
oh darn.. I know what the issue is... #holdsheadinshame

The assembly was accidentally killed while it was concatenating all the `contigs-*.fa` files to Mya71-1.fa. I  did not recognize that the fasta defline was different, so I just concatenated all the reads files together and away I went.. Easy enough to get rid of those `:`'s.. Sorry for wasting your time on this one...

[2015-07-13 17:00] #78 closed

[2015-07-13 17:00] benvvalk commented on #78
No problem, thanks for letting me know!

[2015-07-13 17:45] sjackman commented on #78
The entire pipeline can handle arbitrary non-numeric contig identifiers except for the [`sort` command](https://github.com/bcgsc/abyss/blob/master/bin/abyss-pe#L509) here and other places. Possible solutions are
1. 0-pad the prefixes of contig IDs so that numeric sort and string sort are identical. I like this solution
2. Use `samtools sort` or a similar tool rather than `sort`. Adds a dependency.

[2015-07-13 17:46] sjackman commented on #78
It could be a good opportunity to replace the quick sort / merge sort with a fast radix sort like DALIGNER.

[2015-07-13 17:46] benvvalk commented on #78
Good ideas.  Thanks, Shaun!

[2015-08-25 02:45] dparks1134 opened #79 "abyss-sealer v1.9.0 fails to run to completion"
Hello,

I have a number of assembled metagenomes I am running through abyss-sealer. The majority of these finish without issue in ~6 hours. However, a small subset never appear to complete. I have allowed these to run for 100+ hours at this point without completion. The offending metagenomes are ~1/3 lane of Illumina, and are similar in both number of assembled contigs and raw reads as the metagen

[2015-08-25 16:13] benvvalk commented on #79
Hi Donovan,

Yes, I have seen that behaviour unfortunately.

I believe it is not an infinite loop but searches in really dense regions of the graph that cause problems.  At the moment, all that can be done is to adjust parameters to get a more reasonable runtime. The parameters that you could change are (in order of biggest effect to smallest effect):
* `--kmer`,`-k` (increase to make it run faste

[2015-08-25 16:14] benvvalk commented on #79
Multithreading (`-j`) helps a great deal too, of course, but you are probably already using that.

[2015-08-26 07:03] dparks1134 commented on #79
Thanks. Changing the maximum gap size (<code>-F</code>) had a huge impact on the running time.

[2015-08-26 15:35] benvvalk commented on #79
Glad to hear!

Just a note: I wasn't precise in my response above: -F is actually max_gap_size + 2*flank_length, where flank_length (-L) is 100 bp by default.

[2015-08-26 20:48] dparks1134 commented on #79
Thanks! Good to know.

[2015-09-01 20:26] benvvalk opened #82 "rename abyss-sealer's --min-frag/--max-frag parameter"
The `--min-frag` / `--max-frag` parameters actually specify the minimum/maximum gap sizes that abyss-sealer will attempt to close, rather than the fragment size for the input sequencing libraries, as the option names would seem to suggest.  For example, `--max-frag` specifies the maximum graph search depth when trying to connect the two flanking sequences of a gap.  (More precisely, `--max-frag` =

[2015-09-25 16:31] benvvalk opened #83 "allow custom bwa mem options (e.g. "-x pacbio") during long-read scaffolding stage"
For next ABySS release

[2015-09-25 17:04] sjackman commented on #83
What should the option be called? `BWAMEM_OPTIONS`?

[2015-09-25 17:05] benvvalk commented on #83
Sure.  Or maybe `long_mapopt`.

[2015-09-25 17:06] benvvalk commented on #83
I'll try to do something that matches the existing variable-naming conventions.

[2015-09-25 17:13] sjackman commented on #83
Caps is preferred. Lower case is for internal variables. How about `LONG_BWAMEM_OPTIONS`?
I rather wish that I had picked something shorter than `…_OPTIONS`, but for consistency's sake.

[2015-09-25 17:14] benvvalk commented on #83
Yep, I realized after responding that user options should be in caps.  `LONG_BWAMEM_OPTIONS` sounds good to me.

[2015-09-26 13:45] verne91 opened #84 "Error with Assertion `isalpha(seq[0])' failed"
Hi everyone,

When I run the ABySS, I got an error with the message of

[code]

So, how to deal with it?

[2015-09-27 00:38] verne91 opened #85 "Error with Assertion `d.distance < 0' failed"
[code]

[2015-09-29 16:21] benvvalk commented on #84
Hi Sun,

This is a FASTA parsing error.  (It is complaining that there are illegal characters in your FASTA/FASTQ sequences.)

I suspect that there is a problem with either your `abyss-pe` command or the formatting of your input FASTA/FASTQ file(s).   In order to help I would need more info, though.  Would you be able to provide me with:

* your full abyss-pe command line
* the first 8 lines of yo

[2015-09-29 16:23] benvvalk commented on #85
Hmm, not sure.  I would need a bit more information.

Can you please provide:

* your full `abyss-pe` command line
* the full log output of your `abyss-pe` command (adding `v=-v` for verbose logging will help greatly)

[2015-09-30 00:24] sjackman commented on #85
If the estimated error is zero, i.e. `e=0`, it asserts that the distance is negative, that is the two sequences overlap. See https://github.com/bcgsc/abyss/blob/master/Scaffold/scaffold.cc#L498

[2015-09-30 00:25] sjackman commented on #85
What tool generated your file of distance estimates? Was it ABySS's DistanceEst?

[2015-09-30 00:27] sjackman commented on #85
Ben, if you change the code to avoid this assertion, I would suggest:
[code]

[2015-09-30 00:44] sjackman commented on #85
Alternatively, please replace the assertion with a more informative error message. I'm okay with the above patch though.

[2015-09-30 00:46] sjackman commented on #79
Hi, Ben. As this issue is blocking #80, I'm going to reopen it. What can we do to limit the runtime of Sealer to something reasonable even for worst-case data?

[2015-09-30 02:26] verne91 commented on #85
The command line is:
abyss-pe np=16 mpirun=$MPIRUN name=human_simu k=71 in='HAAA1.fq HAAA2.fq'

The output log is:
/lustre/usr/intel/2015/impi/5.0.1.035/intel64/bin/mpirun -np 16 ABYSS-P -k71 -q3    --coverage-hist=coverage.hist -s human_simu-bubbles.fa  -o human_simu-1.fa /lustre/home/clswcc/csun/BA/simu_data/human/HAAA1.fq /lustre/home/clswcc/csun/BA/simu_data/human/HAAA2.fq
ABySS 1.9.0
ABYSS-P

[2015-09-30 10:14] macmanes commented on #83
The only thing I'd add is to ask about the user that has nanopore, a transcriptome and a PacBio dataset to use.  I guess you could have users enter them as a comma/space delimited list, e.g., `long='nanopore.fasta transcriptome.fasta PacBio.fasta'` and `LONG_BWAMEM_OPTIONS='ont2d default pacbio'` which would pass the appropriate things to `-x`.

[2015-09-30 16:14] sjackman commented on #83
The `long` option should have taken a list of library names rather than a list of file names, to be consistent with the other options, like `pe` and `mp`. I think we can still make that change. Then you can have
`long='pacbio nanopore' pacbio_LONG_BWAMEM_OPTIONS=-xpacbio nanopore_ LONG_BWAMEM_OPTIONS=-xnanopore`
These latter two could be the default values for these variables.

[2015-09-30 16:42] benvvalk commented on #85
Hi Sun,

It looks like this line (from the log output above) is the source of your troubles:
[code]

The FASTA IDs for both reads in a pair are permitted to be identical, but not if they include `/1` or `/2` at the ends.

The exact rule is this:  For each read pair, the two FASTA IDs must either:

1. identical, OR
2. share an identical prefix and end with a suffix of `/1` and `/2`, respectively.

[2015-09-30 17:00] benvvalk commented on #85
@sjackman: thank you for the patch.  I'm not sure it will be necessary, though, since the problem may be due to other issues.  It's there if I need it, though.

[2015-09-30 17:17] sjackman commented on #85
It's odd that there's an error at the `-3` stage but it continues on to scaffolding.
[code]

[2015-10-01 00:49] verne91 commented on #85
HI @benvvalk ,

I 'm sorry that the err log contains the logs of two times.
The fastq files contain duplicate reads at the first running, and then I delete the duplicate reads.

Here is the err log.
The minimum coverage of single-end contigs is 3.66176.
The minimum coverage of merged contigs is 4.
Consider increasing the coverage threshold parameter, c, to 4.
Building the suffix array...
Building

[2015-10-01 23:28] benvvalk commented on #85
Hi @verne91 ,

No problem.  If you haven't tried already, I would definitely recommend re-running the whole assembly again from with the beginning with the fixed reads files as input.

Are you comfortable with compiling ABySS? I have applied the patch that @sjackman provided above and you can get it and compile it as follows:
[code]

Would you be able to compile that on your system and see if that

[2015-10-02 13:43] verne91 commented on #85
Hi @benvvalk ,

As the abyss was installed on the hpc cluster and the job queue is full, I have to test it a few days later.
Then I would check it whether that fixes the problem.

Thank you!

[2015-10-02 16:25] benvvalk commented on #85
Okay, good luck!

I forgot to mention, if you have never compiled ABySS before, you will likely have to install a couple of dependencies: Boost (headers only) and Google sparsehash.  Those libraries don't have any non-standard dependencies, though, so it's not too bad.

[2015-10-02 20:23] sjackman commented on #85
ABySS shouldn't output distance estimates with an estimated error of zero. It's a bug if it does. It should clamp the estimated error to `0.1` bp.

[2015-10-02 23:56] benvvalk commented on #85
Good to know.  Thanks, Shaun!

[2015-10-05 07:59] verne91 commented on #85
Hi @benvvalk ,

This version of abyss don't have configure file.

[2015-10-05 15:59] benvvalk commented on #85
Hi Sun,

My mistake for not mentioning it:  When you check out the source from git, you need to run `./autogen.sh` first to generate the `configure` script.

[2015-10-07 07:23] verne91 commented on #84
abyss-pe command line:
abyss-pe np=16 mpirun=$MPIRUN name=rice_simu k=71 v=-v in='reads1_title.fq reads2_title.fq'

first 8 lines of reads1_title.fq:
@>chr01|234586208|+/1
CACCGCCCGCCGCCTGTTCGATTGAAGAAAAGAGAAGCGAAGAGCAAAAAGAAAAGAAAGGAGAAAAGAGAAGAACAAAGAACATGGGTCCCACTTTTTT
+
_baee`ecggfggiiiifidhiibhhgggihidhifiehhihheiZghggbfhgicchgiaieb^dcahdic]acc^b_]cbYcbccc[bdbbccccbbc
@>chr01|365445088|-/1
GT

[2015-10-07 07:43] verne91 commented on #85
Hi, @benvvalk ,

When I run "make" command, I come across an error.

make  all-recursive
make[1]: Entering directory `/lustre/home/clswcc/csun/softwares/abyss-test/abyss'
Making all in bin
make[2]: Entering directory `/lustre/home/clswcc/csun/softwares/abyss-test/abyss/bin'
make[2]: Nothing to be done for `all'.
make[2]: Leaving directory `/lustre/home/clswcc/csun/softwares/abyss-test/abyss/bin'
M

[2015-10-08 18:37] sjackman commented on #85
`ld: cannot find -lsqlite3`

@benvvalk sqlite3 is supposed to be an optional dependency. Is that the case currently?

[2015-10-08 18:49] benvvalk commented on #85
Alas no, it is still not fixed; sqlite3 is still a required dependency.  It has been a frequent problem for our users, too.  (I recall at least two other posts recently on the ABySS group regarding this issue.)

I'll have a look at it this afternoon.

[2015-10-08 18:59] benvvalk commented on #85
@verne91, you may be able to solve the problem by installing packages called `sqlite3` and `sqlite3-dev` on your system (or some similar package name, depending on your linux distro.)  Alternatively, you could also install sqlite3 from source into your home directory and then point to sqlite with `./configure --with-sqlite=<your sqlite3 install directory>` when compiling ABySS.   The `<sqlite3 ins

[2015-10-08 19:15] sjackman commented on #85
@benvvalk Please roll out a 1.9.1 release that fixes this issue when you find the time.

[2015-10-08 19:52] benvvalk commented on #85
@sjackman okay

[2015-10-08 21:36] sjackman commented on #84
It looks like you'll have to dig deeper than the first 8 lines. Can you send the first one million lines to Ben in a private e-mail, or post them online somewhere?

[2015-10-08 23:23] benvvalk commented on #84
I just noticed that the read IDs start with `@>` instead of `@`, which is a bit unusual.  Could you try removing the `>` at the beginning of each read ID?

For example, I think the first read ID should probably be:
`@chr01|234586208|+/1`
instead of:
`@>chr01|234586208|+/1`

[2015-10-10 05:05] verne91 commented on #84
Hi, @benvvalk

In the Issue #85 , the header line of fastq files are same with this one, but it report another bugs.

[2015-10-10 06:38] verne91 commented on #85
@benvvalk , in the original version of ABySS, I didn't specify the path of sqlite3.
The sqlite3 has been installed in the standard path of system, and the compiler will search for them automatically.

If I have to specify it, which should type in the command line below?
/etc/php.d/sqlite3.ini
/usr/bin/sqlite3
/usr/lib64/libsqlite3.so.0
/usr/lib64/libsqlite3.so.0.8.6

[2015-10-10 21:03] sjackman commented on #85
Do you see a file named `/usr/lib64/libsqlite3.so`? If not, you'll have to install the `devel` package. On Debian/Ubuntu `sudo apt-get install libsqlite3-dev` and on CoreOS/Fedora/RedHat `sudo yum install sqlite3-devel`.

[2015-10-10 22:28] benvvalk commented on #84
Hi @verne91,

Sorry, I'm don't understand why you would get two different errors when using exactly the same input files.  Could you please try fixing the FASTA headers anyhow to see what would happen? I think it might be informative.

[2015-10-11 01:26] verne91 commented on #84
Hi @benvvalk ,

The input files are the same only on the header line. They both start with '@>'.
Then I would modify the headers to test.

[2015-10-12 04:21] verne91 commented on #84
Hi @benvvalk ,

After I fix the input files, the err log is the same with the last time.

[2015-10-12 04:41] verne91 commented on #85
Hi @sjackman ,

When I type
./configure --with-sqlite=/usr/lib64/libsqlite3.so ,
the output log still have:

checking sqlite3.h usability... no
checking sqlite3.h presence... no
checking for sqlite3.h... no
checking for main in -lsqlite3... yes

Is that right?

[2015-10-12 17:28] benvvalk commented on #84
Hi @verne91,

Okay, thanks for trying with the fixed headers.  Since the ABySS FASTA parser is heavily used for several years, I think it is most likely a problem with the formatting of your file.  Here are some more suggestions to debug the problem:

* use `tail` to look at the last few lines of the file, to make sure it is not corrupted
* check that the number of lines is a multiple of 4
* run t

[2015-10-12 17:36] benvvalk commented on #85
Hi @verne91,

The argument to `--with-sqlite` should be a directory that contains two subdirectories called `include` and `lib`.   The `include` subdirectory must contain `sqlite3.h` and the `lib` subdirectory must contain `libsqlite3.so`.

Based on your configure output, it looks like you don't have `sqlite3.h` on your system.  (You may be able to check for the presence of that file on your syste

[2015-10-12 18:05] sjackman commented on #84
Once we sort out the cause of this issue, Ben, it would be great if we could replace the `assert` failure with an error message that prints the line number of the problem FASTA sequence using the `FastaReader::die` method.

[2015-10-12 18:07] sjackman commented on #84
@verne91 The log indicates that the error occurs somewhere between the 100,000th read and the 200,000th read. If you could send the first million lines of the FASTQ file to Ben with Dropbox or something it would help speed up troubleshooting.

[2015-10-13 03:55] verne91 commented on #84
Hi @benvvalk ,

I use FastQValidator to test my input file.
The results are below:
Input and filter stats:
        Input sequences: 94,000,000
        Input bases: 9,400,000,000
        Input mean length: 100.00
        Good sequences: 44,162,310 (46.98%)
        Good bases: 4,416,230,844
        Good mean length: 100.00
        Bad sequences: 49,837,690 (53.02%)
        Bad bases: 4,983,768,690

[2015-10-13 16:55] benvvalk commented on #84
Interesting.  Doesnt' FASTQValidator tell you where the bad characters are? I thought that was the purpose of the program.

You may also be able to run this command to highlight illegal characters in your sequence data and view them in `less`:
[code]

Also, I believe you should be able to attach the file directly to this ticket, if it is not too large (please use gzip).  As Shaun suggested, you ca

[2015-10-13 23:24] benvvalk opened #86 "Make sqlite3 an optional dependency"
Many users have been having trouble compiling ABySS 1.9.0 because of a newly-introduced dependency on sqlite3.  This dependency is unnecessary and will be made optional in the next ABySS release.

The sqlite3 dependency has already been removed in the latest revision of abyss on github, so users that are having trouble with the sqlite3 dependency are recommended to `git clone git@github.com:bcgsc/

[2015-10-13 23:26] benvvalk commented on #85
Hi @verne91,

I have removed the sqlite3 dependency in the latest version of ABySS on github.  Please see issue #86 for instructions.

[2015-10-14 00:36] verne91 commented on #84
I find many Ns in the output, I think I should remove the reads contain Ns.

[2015-10-14 16:05] benvvalk commented on #84
@verne91 Sure, that is worth a try.

[2015-11-03 00:38] benvvalk opened #87 "abyss-dida: non-portable use of `readlink`"
A user has reported the following error when running an ABySS assembly with DIDA on his/her system:
[code]
It looks that when I wrote the `abyss-dida` shell script, I was assuming that `readlink` could handle multiple file arguments, whereas some versions can only handle a single file argument.

[2015-11-10 14:49] tjanez commented on #75
@sjackman, I'm afraid you reasoning is incorrect.

The [GPL FAQ](http://www.gnu.org/licenses/gpl-faq.html#NoMilitary) clearly states that one can not license code under the GPL and add a restriction that it can't be used for commercial purposes:

So, the software is actually not licensed under GPLv3. Rather, it uses a custom license that is similar to GPLv3 but removes the freedom to use the softw

[2015-11-11 20:12] Malabady opened #88 "Whole genome assembly using abyss-pe mpi"
Hi,

I have been trying to use abyss-pe to assembly a whole Eukaryota genome (2.13G) using different types of data (PE, SE, and MP). I running the assembly on our computer cluster using the following shell script. I have tried so many times and got various error messages. Here are the error messages from my last trial:

$ more abyss10.q.err
`mpUndetermined_R1.pe.fastq.gz': discarded 545687 reads s

[2015-11-13 17:38] benvvalk opened #89 "Sealer does not implement -D option"
Sealer advertises a `-D` option in the `--help` output which specifies the offset distance between the gap and the flank sequences, but doesn't actually implement the option.

[2015-11-13 18:07] benvvalk commented on #88
Cross-posting my response from the ABySS Google Group:

Hi Magdy,

This line seems to be the source of the problem:

[code]

It sounds like this is an OpenMPI bug and not something specific to ABySS.  It sounds like a buffer overrun.  When I googled the error message, I came across this old thread: http://www.open-mpi.org/community/lists/users/2010/03/12274.php, but it doesn't offer any concrete s

[2015-11-14 11:28] sjackman commented on #75
I'm on vacation until the new year, Tadej. Feel free to bump this thread in the new year to continue this conversation.

[2015-11-18 19:04] benvvalk opened #90 "Sealer does not report Bloom filter FPR"
Sealer should log the false positive rate of the Bloom filter it builds, since this an important outcome.  As a rule of thumb, the FPR needs to be less than ~20%; otherwise the running time will be long and very few gaps will be closed.

[2015-11-18 19:08] benvvalk commented on #90
As a workaround in the meantime, users can build the Bloom filter externally with `abyss-bloom build` to check the FPR.

[2015-11-22 03:02] Malabady commented on #88
Thanks. I was able to get to work on a another cluster using mpi.

[2015-11-24 18:42] benvvalk commented on #88
Okay @Malabady.  Glad to hear you found a workaround, at least.

[2015-11-24 18:42] #88 closed

[2015-12-29 19:03] mebbert opened #91 "Recipe for target '<name>' failed -- Fails while "generating adjacency?""
Dear abyss,

Thank you for your help and support. I'm assembling a genome but I get the following error (output truncated):

    Loaded 2601815360 k-mer
    Minimum k-mer coverage is 2
    Using a coverage threshold of 2...
    The median k-mer coverage is 6
    The reconstruction is 1556402828
    The k-mer coverage threshold is 2.44949
    Setting parameter e (erode) to 2
    Setting parameter E

[2015-12-29 22:09] sjackman commented on #91
Please post the exact command line that you used. That error message is produced by GNU make.

[2015-12-29 22:14] mebbert commented on #91
Here you go:

    abyss-pe -C k29 k=29 -d name=<name> in='~/<name>/abyss/special_fastqs_for_abyss/15269-Shotgun_S13_L003_R1_001.fastq.gz ~/<name>/abyss/special_fastqs_for_abyss/15269-Shotgun_S13_L003_R2_001.fastq.gz'

The "special" fastqs were to add '\1' and '\2' to the read names. Here are a couple for inspection, just in case.

    @D00723:25:C6C71ANXX:3:1101:1481:2023/1
    NTTGTGTTTGATGGCTGAG

[2015-12-29 22:22] sjackman commented on #91
Adding /1 and /2 should not be necessary.
Please remove -d from the command line and add `v=-v` to enable verbose logging.

[2015-12-29 22:28] mebbert commented on #91
Without /1 and /2 I got the error `All reads are mateless` and followed the tips here: https://www.biostars.org/p/93814/

Here is what the read IDs looked like before:

    @D00723:25:C6C71ANXX:3:1101:1481:2023 1:N:0:13
    ...

    @D00723:25:C6C71ANXX:3:1101:1481:2023 2:N:0:13
    ...

I'll rerun and report. Thanks!

[2015-12-29 22:32] sjackman commented on #91
Ben, do you see any problem with this read naming scheme?

[2015-12-29 22:33] sjackman commented on #91
What version of ABySS are you running? Please report `abyss-pe version`

[2015-12-29 22:35] mebbert commented on #91
\
    abyss-pe (ABySS) 1.9.0
    \
    Written by Shaun Jackman and Anthony Raymond.
    \

    \
    Copyright 2012 Canada's Michael Smith Genome Science Centre

[2015-12-30 17:22] benvvalk commented on #91
@sjackman Thanks for your help. I agree -- the read names should work fine as is.

@mebbert:

Your `abyss-pe` command looks good.

Unfortunately, ABySS will sometimes output the "all reads are mateless" message in situations where the real problem is actually an error in an upstream command.   It is necessary to see the full log output with the verbose (`-v`) option enabled to determine what the r

[2015-12-30 22:57] mebbert commented on #91
The process reran without issue. It must have been a memory issue because I originally had five jobs running at once (different k values). The machine I'm using has 256GB of RAM, so I didn't think it would be an issue, but by casual observance, it looks like each job uses about 25% of that.

Thanks for your help. I wouldn't have ever guessed it was a memory issue based on the errors!

Is there a g

[2015-12-31 00:35] benvvalk commented on #91
Great, glad to hear!

Regarding your question about best k value: running assemblies for a range of different k values is indeed the usual method.  [KmerGenie](http://kmergenie.bx.psu.edu/) is a tool that estimates the optimal k value based on read subsampling and k-mer histograms -- if you're feeling adventurous you can give that a try.  (I'm not aware of any competitors, but there may be some ou

[2015-12-31 00:35] #91 closed

[2015-12-31 07:50] sjackman commented on #91
As Ben said, just a binary search, unfortunately. I'd like to automate that task one day. Without knowing anything else about your data set, two thirds of your read length is a good place to start.

[2016-01-05 18:35] benvvalk commented on #68
Fixed in 1.9.0 release.

[2016-01-05 18:35] #68 closed

[2016-01-18 17:40] tnheider opened #92 "abyss-pe has issue with bwa mem"
abyss-pe failed to run bwa mem with the following command:
abyss-pe name=results/45k k=45 np=35 lib='pe1' long='long1' pe1='inputs/reads-1.fq inputs/reads-2.fq' long='inputs/transcripts.fa'

the relevant line from stderr is
bwa mem -a -t35 -S -P -k45 results/45k-8.fa  \
        |gzip >inputs/transcripts.fa-8.sam.gz

Just from a brief look, it looks like it's an error in bin/abyss-pe line 666 which

[2016-01-18 17:48] benvvalk commented on #92
@tnheider Was there an actual error message?  Can you please post the full log output?

For bwa, I don't think it matters if there is a space between the switches (e.g. -k) and the arguments (e.g. $l).  I have previously used the `long` option of `abyss-pe` without any problems.

[2016-01-18 20:01] tnheider commented on #92
Oh ok, I am probably making some other mistake then (is this the correct place to discuss this?). I changed the command to
abyss-pe name=a45k k=45 np=35 lib='pe1' long='long1' pe1='reads-1.fq reads-2.fq' long='transcripts.fa' in case it was something with being run from another directory, the stderr ends with the following:

[main] CMD: bwa index a45k-8.fa
[main] Real time: 12.470 sec; CPU: 11.815

[2016-01-18 20:56] benvvalk commented on #92
I see the problem now.

Change your `abyss-pe` command to:

abyss-pe name=results/45k k=45 np=35 lib='pe1' long='long1' pe1='inputs/reads-1.fq inputs/reads-2.fq' *long1*='inputs/transcripts.fa'

Note the change from `long` to `long1`.

[2016-01-18 21:11] benvvalk commented on #92
It is totally fine to post issues by the way.  According to preference, you may also make a post on BioStars with the tag "abyss" or on the ABySS Google Group.

[2016-01-18 22:11] tnheider commented on #92
Thank you for the help!

[2016-01-18 22:12] benvvalk commented on #92
You're welcome.

[2016-01-18 22:12] #92 closed

[2016-01-27 00:19] benvvalk opened #93 "Sealer requires read file arguments even when using a pre-built Bloom filter"

[2016-01-27 01:56] sjackman commented on #93
Yes, please. Ideally a Bloom filter could be specified as a positional parameter (without an option) and the software would detect whether it's a Bloom filter or reads. That should be pretty straight forward as long as the first line of the Bloom filter file format is some identifying text.

[2016-01-27 17:35] benvvalk commented on #93
Good idea, Shaun.

[2016-02-07 21:34] JETitus opened #94 "Failed to create unitigs"
Hi,

I am not sure exactly what error is particularly occurring. However, I am not generating unitig.fa files at the end of my ABySS run. Attached is a text file with a whole run, start to error for one kmer = 71. The tail of the error is below.

[code]

I am not sure if this an ABySS function, Linux issue the ln command, or what. From what I read the minimum coverage message is not an issue anymo

[2016-02-08 05:11] sjackman commented on #94
Either your operating system or your file system does not support symbolic links. Which operating system are you using? Which file system are you using?

[2016-02-08 06:37] JETitus commented on #94
I am running Bio Linux (Ubuntu kernel), which as far as I know and have found uses NFS filesystem.

I'll look more into it in the morning, but I found that Linux should support symbolic links. Hopefully that helps diagnose the problem.

Thank you for your time.

Cheers,
James

[2016-02-08 07:53] dbrowneup opened #95 "Bugs in abyss-layout and abyss-filtergraph"
Hi guys,

I used abyss-overlap to find all overlaps in a set of contigs derived from multiple assemblies. This worked well, resulting in an overlap graph:

V=143060 E=140478 E/V=0.982
Degree: █▂
        01234
0: 68% 1: 25% 2-4: 3.5% 5+: 3.1% max: 476

But there's something that abyss-layout doesn't like, because it throws this error:

`abyss-layout: ../Common/Dictionary.h:74: cstring Dictionary::g

[2016-02-08 07:59] sjackman commented on #95
For the second error, try applying the following patch:
[code]

For the first error, I'm not sure. If you can post the adjacency graph somewhere that we can download it, we can try to reproduce the error and look into it. `abyss-layout` was never used in the main ABySS pipeline, so it doesn't receive much testing.

[2016-02-08 23:09] dbrowneup commented on #95
Thanks Shaun! I'm re-compiling now with that change in place. I'll test it out soon and let you know if it works.

With respect to abyss-layout, I'm not too worried about getting that to work, seeing as abyss-filtergraph does the job just fine. If the patch you provided for filtergraph fixes the problem, I don't really need abyss-layout at all. Of course, I'm happy to help you debug it if you'd li

[2016-02-08 23:11] dbrowneup opened #96 "SAM Seq and Qual from abyss-map"
Following up on a comment in a thread from several years ago:

https://groups.google.com/d/msg/abyss-users/FgDjyfHChiI/lgyRJoMwTaUJ

It seems like the --enable-samseqqual option is not recognized by ./configure. Probably a super low priority for you guys, but it would be really cool if this worked!

[2016-02-09 00:00] dbrowneup commented on #95
The path to abyss-filtergraph worked like a charm!

[2016-02-09 00:00] #95 closed

[2016-02-09 03:09] dbrowneup commented on #14
I know this is pretty old, but considering it is still open, thought I'd leave my 2 cents here. You could very easily convert a multi-line fasta to single-line fasta with awk, as follows:

`$ awk '/^>/{print (NR==1)?$0:"n"$0;next}{printf "%s", $0}END{print ""}' InputFastaFile.fasta > OutputFastaFile.fasta`

Source: http://itrylinux.com/use-sed-or-awk-to-remove-newline-breaks-from-fasta-file/

Thus

[2016-02-09 06:53] sjackman commented on #95
Great. I'm glad that you've got it working. I'm happy to see people using the components of ABySS outside of the standard pipeline. I'd like to see more remixing of assembly software components.

[2016-02-09 06:55] sjackman commented on #95
I'll mention that ABySS supports (can read and write) the [GFA file format](https://github.com/pmelsted/GFA-spec) for assembly graphs. Hopefully more tools will be implementing it.

[2016-02-09 07:02] sjackman commented on #96
The undocumented `abyss-map-ssq` outputs SAM seq and qual. Not the best name, in my opinion.

[2016-02-09 07:02] #96 closed

[2016-02-09 07:07] sjackman commented on #14
I agree it's a bit dumb that `abyss-map` can't read multiline FASTA files, but I'm afraid it's not a priority at the moment to fix it. Sorry. =/ Perhaps take it as an opportunity to obliterate multiline FASTA files once and for all? They are arguably more brain dead than the tools that can't read them. I use Heng Li's `seqtk seq` to remove the line breaks.

[2016-02-10 09:12] CarolineOhrman commented on #89
I've seen the same thing. Flanks are identical running with or without -D option

[2016-02-17 19:57] dbrowneup opened #97 "Bugs in abyss-layout"
Hi guys,

I'm experimenting with a new pipeline I put together with the various ABySS tools. Essentially, I am running a modified version of your standard "contig" phase. Here are the commands:

[code]
See the attached file for the results of this. There are still some significant kinks I need to work out, but one of the barriers I have encountered, which is beyond my ability to iron out, is the b

[2016-02-17 20:27] dbrowneup commented on #96
A note for anyone reading this in the future: if you want to use `abyss-fixmate`, you will also want to use `abyss-fixmate-ssq`. An example:

[code]

[2016-02-17 21:04] sjackman commented on #97
You could try using `abyss-scaffold` rather than `abyss-layout` in the above pipeline. They are in fact pretty similar tools. `abyss-scaffold` takes an overlap graph and a distance estimate graph, but `abyss-layout` only takes an overlap graph.

[2016-02-17 21:05] sjackman commented on #97
As for your bug, I'm afraid I don't have the time at the moment to dig into it, as we don't use `abyss-layout` in any of our standard assembly pipelines.

[2016-02-18 01:39] dbrowneup commented on #97
`abyss-scaffold` worked great in my pipeline! Thanks for the suggestion, Shaun!

[2016-02-18 18:29] sjackman commented on #97
Closed the `abyss-layout` bug as `wontfix`. I'm glad that `abyss-scaffold` is working for you!

[2016-02-18 18:29] #97 closed

[2016-02-19 19:07] sjackman commented on #97
I found this old patch lying around on my disk just by chance. It may have been related to the bug that you were seeing.

[code]

[2016-02-22 21:00] dbrowneup opened #98 "Sealer EXCEEDED_MEM_LIMIT error"
Hi guys,

I'm trying to run Sealer on a set of scaffolds, and although the program completed without raising any errors, it failed to actually seal any gaps.

For some reason, all the flanks fall under the category of "Exceeded mem limit"

But I find that rather baffling, because I used -j20 and -s2000, so there should've been 40 GB of memory available for graph searches.

I've attached the output

[2016-02-22 21:13] benvvalk commented on #98
Hi Dan,

Try setting the `-s` (`--search-mem`) to a really high value, e.g. `-s 100G`.  It shouldn't do any harm to set it to a really high value, even if the value is greater than the memory available on the machine (the default value of `-s` is `500M`.)

We should get rid of that `--search-mem` option completely, since it doesn't work very well and isn't really needed.

[2016-02-22 21:17] dbrowneup commented on #98
Oh you know it just occurred to me - I set it `-s2000`. But I can see the default is `500M` and your suggestion is `-s100G`. Perhaps it bugged out on me because I failed to include either `M` or `G` at the end of my number?

[2016-02-22 21:17] benvvalk commented on #98
Yeah, it's in bytes by default, so that's the issue!

[2016-02-22 21:19] dbrowneup commented on #98
Haha okay, I will adjust my parameters accordingly and retry. I had also set `-b10000`. So I'll try it with `-s2000M` and `-b10000M`.

[2016-02-22 21:22] #98 closed

[2016-02-23 03:55] dbrowneup opened #99 "Bug in abyss-scaffold when using abyss-longseqdist"
Hi guys,

I have a _de novo_ PACBIO assembly (made with Quiver/HGAP/Falcon) which I am using to scaffold a composite ABySS Illumina assembly. I am doing this with these commands:

[code]

And it works beautifully! ... until abyss-scaffold hits this bug:

[code]

Attached is the full output log, for reference.

[OUT_PB_LSD_TEST_v2.4.txt](https://github.com/bcgsc/abyss/files/141911/OUT_PB_LSD_TEST_v

[2016-02-23 17:06] sjackman commented on #99
https://github.com/bcgsc/abyss/blob/master/Scaffold/scaffold.cc#L498
[code]

[2016-02-23 17:12] sjackman commented on #99
If the estimated error of the distance estimate is exactly 0, `abyss-scaffold` asserts that the distance estimate is negative, that is, the two sequences overlap. If you're comfortable with `sed`, I would replace the `e=0` lines in the file `SEQ1K_100-11.dot` with `e=1`. `abyss-scaffold` doesn't use the value of `e` other than in this one place.

If it's easier to change the code, change it to
[co

[2016-02-23 17:21] benvvalk commented on #99
Thanks, Shaun!

[2016-02-23 17:22] sjackman commented on #99
Tony wrote `abyss-longseqdist` assuming that the input sequences were essentially free of indel errors, hence the `e=0` estimate.

[2016-02-23 17:23] benvvalk commented on #99
Ah, I see.

[2016-02-23 17:40] dbrowneup commented on #99
When I inspect `SEQ1K_100-11.dot` with `grep "e=0" SEQ1K_100-11.dot` nothing is returned. Similarly, `grep` does not find `e=1` in that file either. When I inspect the output of `abyss-longseqdist`, the file `PB_LSD_BWA.dist.dot` with `grep`, output is only returned for `e=1` but not `e=0`. Maybe the best thing for me to do is change the code as you've suggested?

[2016-02-23 17:45] dbrowneup commented on #99
Perhaps it is worth mentioning that `SEQ1K_100-11.dot` is written in the adj format, not the dot format.

[2016-02-23 18:19] sjackman commented on #99
The output format of `abyss-longseqdist` should be `dot`. I haven't tested it though. It also doesn't provide any options to change the output format, unlike other ABySS graph tools. https://github.com/bcgsc/abyss/blob/master/Scaffold/longseqdist.cpp#L60

Changing the code would be just fine.

[2016-02-23 19:52] benvvalk opened #100 "abyss-pe: make --mean the default method for DistanceEst when scaffolding"
At some point, @sjackman explained to me that the default method for DistanceEst (`--mle`) is O(n^2) with respect to the distance between read pairs.   As a result it can be quite slow when running on large mate pair libraries.  The default should be changed to `--mean` for the scaffolding stage of `abyss-pe`.

In the meantime, the workaround is to add `DISTANCEEST_OPTIONS='--mean'` to the `abyss-

[2016-02-23 19:56] sjackman commented on #100
`abyss-scaffold` doesn't currently use the distance estimates, other than for picking the number of Ns between contigs in the scaffolds output by `MergeContigs`. So it's not really necessary to spend the time to get a more accurate distance estimate.

[2016-02-23 20:00] sjackman commented on #100
Another approach is for `DistanceEst` to pick which algorithm depending on the fragment size of the library. If the maximum fragment size (calculated by DistanceEst with trimming) is less than 2000 bp, use `--mle`, if it's more than 2000 bp, use `--mean`. I picked 2000 bp out of thin air. The user can override the automatic choice by specifying one or the other.

[2016-02-23 20:38] benvvalk commented on #100
Good idea.  Thanks, Shaun!

[2016-02-28 06:07] dbrowneup commented on #99
Hey Shaun,

I changed the code to exactly what you said...

[code]

But I'm wondering, does that actually do anything? Seems to me like nothing is being returned. Should I perhaps change it to something like...

[code]

Then again, I don't know C or C++, so I really have no idea what I'm talking about haha. All that said, the code you suggested led to `abyss-scaffold` working. However, now I'm run

[2016-02-28 23:47] sjackman commented on #99
Sorry, I've been coding in Ruby for too long (`return` is optional in Ruby). It should have been

[code]

[2016-02-28 23:51] sjackman commented on #99
The failed assertion is at https://github.com/bcgsc/abyss/blob/master/MergePaths/MergeContigs.cpp#L199

[2016-02-28 23:55] sjackman commented on #99
A path in a `.path` file looks like `1+ 50N 2+ 3+ 50N 4+`. There is a gap between `1+` and `2+`, but no gap between `2+` and `3+`. The assertion is saying that `2+` and `3+` must be adjacent in the contig overlap graph, that is, the two contigs must overlap.

[2016-03-01 20:50] dbrowneup opened #101 "DistanceEst --mind and --maxd not apparently working"
Hi guys,

I think I have encountered a bug in DistanceEst, where although I am specifying --mind and --maxd, the program is reporting distance estimates outside the specified limits. For example, I issued this command:

[code]

And here are the results:

[code]

Did I do something wrong that would cause it to report such enormous estimated overlaps? I want to cap the distance estimates at -6000 bp

[2016-03-01 21:05] dbrowneup commented on #101
Also, similar story with `abyss-scaffold` --min-gap. Here's the command I issued:
[code]
And here are the results:
[code]
I specified `--min-gap=1` but the minimum gap reported in the `path` file is clearly 100N. Though oddly enough, despite the largest distance estimate being reported as 3505 bp, the largest gap set by abyss-scaffold is 6093N.

[2016-03-01 21:53] dbrowneup commented on #99
I'm thinking maybe this isn't the way to go in terms of integrating the PACBIO data that I have. Looking at the `.path` file, here's what I see:

[code]
All of the gaps are reported as 99N, which I don't think is accurate. I believe I understand why it is this way - that the `abyss-longseqdist` program was written to scaffold with transcriptome contigs, which give you no information about gap size

[2016-03-01 22:13] sjackman commented on #101
The first issue is either a bug or a documentation error, depending on your opinion. The `--mind` and `--maxd` options are only used by the `--mle` algorithm. It specifies the range of values to optimize over. The size of the range directly affects the run time. The `--mean` algorithm does not optimize over a range. It's a closed-form solution. It could artificially clamp its results to the range

[2016-03-01 22:16] sjackman commented on #101
Due to historical reasons I'd rather not get into over a text medium (because ugh), the values of the `N` in the `.path` file are offset by a constant of `k-1` bp. That is `100N` at `k=100` is in fact a 1 bp gap. `99N` is a 0 bp gap, that is, directly adjacent. `98N` is a 1 bp overlap. `0N` (which doesn't happen) is a `k-1` bp overlap. I apologize for this disaster.

[2016-03-01 22:17] sjackman commented on #99
Yes, estimating the gap size would be a useful feature. It's not on our immediate radar, but could definitely happen one day.

[2016-03-02 18:17] dbrowneup opened #102 "Constructing multi-k Bloom filter de Bruijn graphs?"
Hi guys,

I found this paper recently, which I suspect you are probably already aware of, since it's not exactly a new paper (published 2012): [Scaling metagenome sequence assembly with probabilistic de Bruijn graphs](http://www.pnas.org/content/109/33/13272.abstract).

There's a particular quote in this paper that captured my attention (in the concluding remarks)...

"Third, the memory usage is i

[2016-03-02 18:46] sjackman commented on #102
Yes, I am definitely familiar with that paper. It's technically possible, and, at least in principle, not terribly difficult, at least at the level of the data structure. To really take advantage of it though requires designing algorithms that adaptively search multiple values of *k*, by moving up to larger values of *k* in repetitive ares, and moving down to lower values of *k* in areas of low co

[2016-03-02 20:54] dbrowneup commented on #102
Is this perhaps the paper you were thinking of? Closest thing I could find to what we are talking about: http://ieeexplore.ieee.org/xpl/articleDetails.jsp?arnumber=7149295

Here's the corresponding code that is described in the paper: https://github.com/alexbowe/cosmo

[2016-03-04 00:43] sjackman commented on #102
I believe it was an older paper, but thanks for pointing me to @alexbowe's paper. It was a good read! Nice work, Alex. I hope that I can find some time to experiment with Cosmo.
Alex, do you recall a paper that discussed algorithms for traversing a multiorder dBG? It might have been a few years back, and I believe it was more focused on algorithms than data structures.

[2016-03-07 04:20] alexbowe commented on #102
Thanks @sjackman :) I am slowly working on a BGL-compatible interface for Cosmo as per your recommendation (I've been meaning to talk to you about it actually...).

As for the paper, I don't know it sorry. If you find it I'd love to read it :) We have kicked around a few ideas, but nothing concrete. It'd be nice to put this variable order stuff to use...

[2016-03-07 04:50] sjackman commented on #102
A BGL interface would be great. It would be fun to try hooking the Cosmo data structure into ABySS. Feel free to fire me an e-mail, or we can chat over another medium some time.

I didn't have any luck finding the paper on Google Scholar. It may be that I was thinking of a conference poster.

[2016-03-07 05:52] dbrowneup commented on #102
Wish I could help code this up, but I'm afraid all I know is a little Python! However, if you guys put something together in the near future, I'd be glad to help test it! :)

[2016-03-23 17:03] benvvalk commented on #87
Fixed by f807b27b9fa6c08fc906842fd971faa69b13df59

[2016-03-23 17:03] #87 closed

[2016-03-28 10:24] alexbowe commented on #102
@sjackman, you might be interested in this: @mikenz1976 wrote a BGL-adapter for the fixed-order dBG: https://github.com/mikenz1976/cosmo/blob/master/bgl_sdb_adapter.hpp (example here: https://github.com/mikenz1976/cosmo/blob/master/bgl_sdb_adapter_test.cpp).

After I finish the current things I'm working on, I will merge it and try to write a variable-order one. Probably something like `max_order(

[2016-03-28 18:50] mikenz1976 commented on #102
Hi @sjackman...
Is it a case of the variable order de Bruijn needing to support a certain set of BGL [concepts](http://www.boost.org/doc/libs/1_60_0/libs/graph/doc/graph_concepts.html) & [properties](http://www.boost.org/doc/libs/1_60_0/libs/graph/doc/using_adjacency_list.html#sec:adjacency-list-properties) in order for it to be easily integrated into abyss?
Mike

[2016-03-29 01:08] shashidhar22 opened #103 "Compilation error: [abyss_db_csv-db-csv.o] Error 1"
Compiling  abyss from source give the following make error:
[code]

Linux distribution:
Linux version 2.6.32-504.8.1.el6.x86_64 (gcc version 4.4.7 20120313 (Red Hat 4.4.7-9) (GCC) )

Any help with this issue would be appreciated.
Thanks

[2016-03-29 16:52] benvvalk commented on #103
Hi @shashidhar22,

Never seen that one before.  I'm guessing it can be fixed with the following change:
[code]

Can you try making that change and seeing if your problem goes away? If so, I'll push it to the public repo.

[2016-03-29 17:50] sjackman commented on #102
For ABySS to make use of the fixed-order dBG in Cosmo is reasonably straight forward. There's probably some worked involved to make the two play nicely together, for example, in mapping vertices to unique indices and their properties, but it should all be very doable.

A lot of this work was already done as a proof of concept, although unfortunately never merged into the trunk, for the paper [*On

[2016-03-29 17:53] shashidhar22 commented on #103
Hi @benvvalk

Thank you for getting back to me, that fix worked, but the compilation encountered another error after that:

[code]
Again any help with this issue would be appreciated.
Thanks

[2016-03-29 17:56] benvvalk commented on #103
Hmm.  What version of C++ compiler are you using? (And what version)

If it is a really old compiler, that might explain the odd behaviour.

[2016-03-29 18:18] shashidhar22 commented on #103
I'm using the latest version of gcc:
gcc version 6.0.0 20160316 (experimental) (GCC)

[2016-03-29 18:32] shashidhar22 commented on #103
Error resolved, setting CPPFlag -std=c++98 seems to have done the job.
Thank you

[2016-03-29 19:09] benvvalk commented on #103
Okay, good!

[2016-03-29 19:10] #103 closed

[2016-03-29 19:41] sjackman commented on #103
By chance I just fixed this bug in the `develop` branch. https://github.com/bcgsc/abyss-dev/commit/cd0ee685a0228bfe6a111cc7c8abb8f6fa093337
The fix is to explicitly cast to `bool`.
[code]
Unfortunately, and this is bizarre, `(bool)ifstream` and `bool.good()` are *not* synonyms.
`(bool)ifstream` and `!bool.fail()` are however synonyms.
For details see http://en.cppreference.com/w/cpp/io/basic_ios/o

[2016-03-29 19:51] benvvalk commented on #103
Noted! (I hate that goodbit, badbit, failbit, eofbit business...)

[2016-04-07 13:07] lsterck opened #104 "Abyss fails on empty hist files (mate-pairs)"
I was wondering whether it might not be beneficial to allow abyss to be more lenient on the mapping results for mate pair libraries?
I'm currently running a fairly long assembly run with abyss and I noticed it 'crashes' once in a while when there can't be any mate-pair reads mapped to the contigs and thus created an empty hist file for that specific library.
I do understand that when no pairs are

[2016-04-07 23:53] sjackman commented on #104
If for a particular sequencing library no single pair of reads maps to the same contig, it's usually a sign of bigger problems. The safer plan in this case would be to stop the assembly. It would mean that the largest contig of the assembly is smaller than the smallest mate-pair fragment of the sequencing library. I've never seen that case unless either sequencing library or the the contig assembl

[2016-04-19 16:26] benvvalk opened #105 "abyss-fatoagp outputs ultra-short contigs that are rejected during genbank submission"
It has been reported to me that:

When the sequences between stretches of "N"s is short (e.g. 1 base), `abyss-fatoagp` will generate short contigs in the output AGP file that are rejected during submission to genbank.   The suggested solution is to add a new minimum contig length parameter and mask scaftigs shorter than this threshold with "N"s before splitting to AGP.

[2016-04-19 17:33] sjackman commented on #105
Although this situation is possible, it's definitely unexpected. I believe it work require PathConsensus merging four alleles into a single consensus, like so:

[code]

[2016-04-19 17:34] sjackman commented on #105
`abyss-fatoagp` has the option `-s` which defaults to 200 bp to specify the minimum *scaffold* length, but does not have a corresponding option for the minimum *contig* length.

[2016-04-19 17:35] sjackman commented on #105
A contig of length *k* between gaps of *N*s that is less than 200 bp would result in the same situation.

[2016-04-19 17:37] benvvalk commented on #105
Greg Taylor has some (he's the one who asked for the fix) :-)

I'm working on a patch right now.

[2016-04-19 17:49] sjackman commented on #105
Do you know whether it was due to the PathConsensus consensus sequence issue or the k-mer-sized-contig issue?

[2016-04-19 17:50] benvvalk commented on #105
@sjackman Greg was reporting contigs of length 1 between consensus codes, so it is probably PathConsensus.

[2016-04-19 18:28] #105 closed

[2016-04-19 18:30] benvvalk commented on #105
I pushed a fix to abyss-dev/develop so that I can include it in the next release.

In the meantime I will send Greg a copy of the script for testing.

[2016-04-19 18:40] benvvalk commented on #105
@sjackman Thanks for your help, btw!

[2016-04-20 08:35] lsterck commented on #104
Yes I tend to agree with your comment, in an ideal theoretical world :-). However I can think of a few biological cases where these things might happen nonetheless. Imagine a large very repetitive genome, then the contigs will not be very large and if you combine that with a very strictly constructed (and large insert) mate-pair library (or a very low coverage MP library) you might end up in case

[2016-04-20 14:58] sjackman commented on #104
Good point. It should probably also stop the assembly if it has too few same-contig mate-pairs to construct a histogram.

When the user is assembling a single genome, the best thing to do I think is to stop.
When the user is assembling thousands of individual fosmids (for example) and doesn't have the time to inspect individual assemblies, it should probably just continue through to the end howeve

[2016-04-20 15:33] lsterck commented on #104
Hi Shaun,
yes, I'm totally comfortable with how you described the feature request!
thx.

[2016-04-20 16:07] lsterck opened #106 "File format of the .dist files"
I recently was running the abyss-map step with the same input file (and same reference unitigs) on different machines to see if one runs this part faster then the other. As a consequence I was able to compare the .hist and .dist files. I noticed that the .hist files are exactly the same. great! however, the .dist files were not! After closer inspection it turned out that the file content was the s

[2016-04-20 16:23] benvvalk commented on #106
Hi @lsterck,

Since the program that generates the `.dist` files (`DistanceEst`) is multithreaded, it is expected that there will be some variability in the ordering.  That is the usually the case for multithreaded programs.

In general, we would not spend the additional computational effort to sort the output  unless a predictable ordering is required for the downstream assembly steps (and it isn

[2016-04-20 16:24] #106 closed

[2016-04-20 16:44] sjackman commented on #106
As Ben mentioned, the assembly results (the FASTA file of contigs and scaffolds) are not affected by the order of the records in the `.dist` file. It represents a graph, i.e. a set of edges, where the order of the edges is not meaningful.

[2016-04-21 08:20] lsterck commented on #106
OK great. No worries then!
thx

[2016-04-21 16:41] benvvalk opened #107 "abyss-pe: create abyss-map index files by default"
`abyss-pe` should create abyss-map index files by default, rather than building the indexes in memory and then throwing them away afterwards.   This would speed up assemblies with multiple PET/MPET libraries, as commented here: https://www.biostars.org/p/165687/#187648.

[2016-04-21 16:45] benvvalk commented on #107
The only downside I can see is that it would cause abyss-pe runs with the -j option (multithreading option for GNU make) to fail, because parallel processes would try to write the index file at the same time.

[2016-04-21 18:06] sjackman commented on #107
How long does it take to index a human assembly? There's an I/O advantage to not writing the index to disk, if possible. If there's only one library, the index should not be written to disk.

This issue can be fixed by adding the FM-index as a rule and dependency to the Makefile created by `abyss-index`, rather than as a by-product of `abyss-map`.

[2016-04-21 19:14] benvvalk commented on #107
Oh, right -- duh! (separate rule for FM-index file)

Good point also about making a special case for single-library contiging/scaffolding.

[2016-04-21 21:26] lsterck commented on #107
Hi Ben, Shaun,

Just some additional info: it apparently took nearly 3 hours to build the index on my unitigs file :-/ while the mapping step (without index building) takes an hour or 4. So this is substantial I would say. This of course only starts to be beneficial when multiple libraries have to be mapped! Coming to think of it: the best would probably be to build it once in memory and keep it t

[2016-04-21 22:11] sjackman commented on #107
The index should be something like 25% bigger than the input unitigs file. It is an uncompressed FM-index using as I recall 10 bits per input byte of the unitigs.

[2016-04-21 22:12] sjackman commented on #107
To build the index takes 10 *bytes* (not bits) of RAM per input byte. How big is the unitigs file, and how much RAM does your machine have?

[2016-04-25 19:46] lsterck commented on #107
Hi Shaun,

my unitigs file is approx 27GB and the FM index file is ~30GB (so that kinda fits with your calculation). I'm running the analysis on a shared memory cluster system on which I can get up to 14TB of RAM (a single node has 250GB RAM though). Neither storage nor memory is really an issue for the moment but I would be interested in speeding up the analysis ;-) .

[2016-04-25 21:44] sjackman commented on #107
A 27 GB unitigs file would take ~270 GB of RAM to index, which is slightly more than the 250 GB available per node, so memory thrashing may have been a mild issue. I'm not entirely clear about the memory architecture of your system, but it sounds like that additional 20 GB of RAM would have been located on a second machine and transferred over the network. I'd be curious to know if a unitigs file

[2016-04-25 21:47] sjackman commented on #107
`abyss-index --bwt2fm` is able to take a Burrows Wheeler Transform (BWT) created by an external program and use it to create the FM-Index. Much research has been done in recent years (although I'm not really up to date on it) on parallel and disk-based BWT. For indexing the 20 Gbp white spruce genome we used [bwtdisk](http://people.unipmn.it/manzini/bwtdisk/) because we did not have a 200 GB RAM m

[2016-04-26 22:38] sjackman opened #109 "abyss-todot --gfa: Optionally include sequences in the GFA file"
[Bandage]() requires the sequences in the GFA file to support the BLAST feature.
See https://github.com/rrwick/Bandage/issues/23

[2016-04-26 22:38] sjackman commented on #109
`abyss-todot --gfa foo.gv >foo.gfa` does not include sequences in the GFA file.
`gfatools abyss2gfa foo >foo.gfa` combines `foo.fa` and `foo.dot` to create the GFA file including sequences. See https://github.com/lh3/gfatools

[2016-04-27 15:23] lsterck commented on #107
OK, I was a little confused where this was going to but I understand now.
To be complete I actually built the index on another server with 500GB RAM and the time it needed I reported before was from running it on that server (apologies for the misinformation). On the shared memory cluster I am however able to build it in memory and that seems to work fine (as does the first step in the whole proce

[2016-05-04 00:35] Reedwarbler opened #110 "Sealer parameter -F"
Hi Sir/Madam,

I am trying to use sealer to close the gaps of a draft genome. I want to know what's the meaning of:
"-F, --max-frag=N             max fragment size in base pairs [1000]" ?
Is this the insert size?

I have a mate-pair reads with insert size around 3000bp, read length 100bp, and the coverage around 40X, and from my understanding I set the parameters as:
"-k90 -k80 -k70 -k60 -k50 -k40

[2016-05-04 16:13] benvvalk commented on #110
Hi @Reedwarbler,

Unfortunately, the `--max-frag` option has a very misleading name.  It is actually the maximum gap size to close (gaps larger than `--max-frag` will be skipped by Sealer).  Please see here for a more detailed explanation: https://github.com/bcgsc/abyss/issues/82

Increasing `--max-frag` will close more gaps, but the running time will increase exponentially as `--max-frag` increas

[2016-05-04 16:17] Reedwarbler commented on #110
Thank you for the help. Will adjust the parameter accordingly.

Best,
Chong

[2016-05-06 13:52] Reedwarbler commented on #110
Hi @benvvalk

I try two runnings with "-F 4500" and "-F 1000" respectively. The "-F 4500" running now has finished after running for 3521 minutes, but it seems no gap is filled (the "xxx_merged.fa" is empty, and the "NNNN" remaining in the "xxx_scaffold.fa"). Any reason causes this?

The parameters I use: "-k90 -k80 -k70 -k60 -k50 -k40 -k30 -o sealer_out -j 10 -B 1000 -F4500 -P10 ". The reads are

[2016-05-06 16:51] benvvalk commented on #110
Hi Chong,

Could you please also provide the log output, if you have it? Without that information, it is very hard to tell what went wrong.  Sealer provides a breakdown of failure reasons (e.g. TOO_MANY_BRANCHES, NO_PATH) at the end of the iteration for each k-mer size.

Sealer generally does not work well with very small k-mer sizes (e.g. < 50bp), because the de Bruijn graph is very dense at smal

[2016-05-06 16:59] Reedwarbler commented on #110
Hi Ben,

Here is the content of the log:

Finding flanks
220318 gaps found
220292 flanks extracted

Building bloom filter
Starting K run with k = 90
Flanks inserted into k run = 220292
0 unique gaps closed for k90
No start/goal kmer: 383
No path: 0
Unique path: 0
Multiple paths: 0
Too many paths: 0
Too many branches: 219933
Too many path/path mismatches: 0
Too many path/read mismatches: 0
Contains

[2016-05-06 17:06] benvvalk commented on #110
Hi Chong,

The main reason for failure is "too many branches" .

I just realized that you are not explicitly setting your Bloom filter size, so instead it is using the default size (500MB).  Probably what is happening is that the Bloom filter size is way too small and it is completely being filled with 1's -- which corresponds to a de Bruijn graph with every possible k-mer.

What is the size of th

[2016-05-06 17:12] Reedwarbler commented on #110
Yes, it's human. Let me adjust the parameter and re-run. Thank you for the help.

[2016-05-06 17:12] #110 closed

[2016-05-06 17:21] benvvalk opened #111 "Sealer/Konnector: make Bloom filter size (-b) a required parameter"
Using a default size 500M causes too much trouble -- users unknowingly get a Bloom filter that is way too small for their  dataset and end up with an FPR 100%. And it all goes downhill from there.  See for example #110.

[2016-05-07 18:42] sjackman commented on #110
If the FPR exceeds some threshold perhaps it could exit with failure and print an error message.

[2016-05-07 18:44] sjackman commented on #111
Additionally perhaps it could exit with failure and print an error message if the FPR exceeds some threshold, say 20%.

[2016-05-07 18:46] sjackman commented on #111
The default size could also be changed to the total available memory of the machine (without counting swap). `abyss-pe` could get this information from `free`, or in C++ we can parse it from `/proc/meminfo`.

[2016-05-09 16:25] benvvalk commented on #111
Yes, sounds like a good idea about the FPR threshold.

That's interesting about getting the available amount of real (non-swap) memory available.  Not sure that using all of the available memory is a good default, though -- the user could be running the job on a shared server.

[2016-05-09 18:49] sjackman commented on #111
Yeah, there's definitely challenges. A sane default would be nice though. Perhaps the default could still be constant, but changed to a value that's appropriate for a human genome assembly.

[2016-05-09 18:50] sjackman commented on #111
It's really nice when a program provides a sane default value for a parameter when possible.

[2016-05-18 08:42] zhaoletian opened #112 "How to use ABySS-P on multiple machines?"
Hello,
  Everyone.
  Now I'm using ABySS to run some RNA-Seq data on the cluster which use Torque. I write a PBS script to try to run abyss-pe or ABySS-P on muliple machines.
  My problem is how to tell hostfile to abyss-pe (or ABySS-P)?

`abyss-pe np=16 mpirun=PATH to OPENMPI/bin/mpirun name=... k=25 in="PATH to input data"`

I use qsub-like command ask for 2 nodes, each node has 8 cores, so here

[2016-05-18 16:28] benvvalk commented on #112
Hi @zhaoletian,

Your abyss-pe command looks correct.  It is probably has more to do with your resource requests in your qsub script.  I'm not familiar with Torque (we use SGE here), but on SGE the number of MPI processes ("ranks") assigned to each machine is determined by a combination of: (i) the number of cores on the machine ("CPU slots") and the amount of memory you are requesting *per MPI pr

[2016-05-18 21:57] sjackman commented on #112
My guess is that your machine is hyperthreaded and has 8 cores but 16 threads. Try doubling `np=16` to `np=32` and see if you get two machines.

[2016-05-19 02:48] zhaoletian commented on #112
np=32 also has the same result as before.

I've noticed the code in `abyss-pe` here:
`# Integrate with Portable Batch System (PBS) \
ifdef PBS_JOBNAME \
name?=$(PBS_JOBNAME) \
endif \
ifdef PBS_ARRAYID \
k?=$(PBS_ARRAYID) \
endif \
ifdef PBS_NODEFILE \
NSLOTS=$(shell wc -l <$(PBS_NODEFILE)) \
ifneq ($(NSLOTS), 1) \
np?=$(NSLOTS) \
endif \
endif`

and here:
`ifdef np
	$(mpirun) -np $(np) ABYSS-P $(

[2016-05-23 08:18] zhaoletian commented on #112
The problem is solved.
only use -np parameter for abyss-pe/ABYSS-P is enough to use openmpi. The problem I've met before may due to there are different types of mpi in the computer cluster I use.
Thanks for all the help~

[2016-05-24 16:56] benvvalk opened #113 "update abyss-pe parameter defaults for modern Illumina data"
Shaun has proposed:

* set default `maxk` = 128
* set default `s` = 500 (or may 1000)

And one other thing I never fixed:

* set default `l` = 40, rather than `l` = `k`

[2016-05-25 06:59] #112 closed

[2016-05-25 06:59] sjackman commented on #112
Glad to hear that you got it working!

[2016-05-25 07:00] sjackman commented on #113
The equivalent default value for `bwa mem` is 30, for comparison.
[code]

[2016-05-25 16:40] benvvalk commented on #113
@sjackman good to know, thanks!

[2016-05-25 17:45] sjackman opened #114 "Give an error/warning when ABYSS-P resizes the hash table"
In an MPI setting, resizing the hash table takes that thread out of commission during the resize and creates MPI havoc. Giving an error and exiting is probably the better choice. The default number of buckets can be increased.

[2016-05-25 21:27] sjackman opened #115 "abyss-fac: Report N25 and N75 rather than N20 and N80"
QUAST reports
N50 NG50 N75 NG75 L50 LG50 L75 LG75
NA50 NGA50 NA75 NGA75 LA50 LGA50 LA75 LGA75

[2016-05-26 21:31] sjackman commented on #113
I'd like to test setting the default `s` to `3*k`, which is the default value for `b`.

[2016-05-26 21:33] sjackman commented on #113
The default value for `S` should be changed to `100-10000`

[2016-05-26 21:34] sjackman commented on #113
I want to test disabling the bubble popping at the preunitig (ABYSS) stage and use PopBubbles instead.

[2016-05-31 14:29] cliu6688 opened #116 "compilation error: SimpleGraph.cpp:650:28"
Dear Author:

I am having a very similar problem with the closed issue https://github.com/bcgsc/abyss/issues/103. The error message I have is:

[code]

I am trying to compile abyss 1.9.0. I am using gcc (GCC) 6.1.0. I have tried to change the code to

[code]

This solves the compilation problem but later I have segmentation fault with SimpleGraph. So I suppose my solution is not correct. Your help

[2016-05-31 16:13] benvvalk commented on #116
Hi Chang,

Shaun recently noticed the same problem and made some fixes. I've included a patch below.   I've also pushed the changes to the `master` branch of the public repo, so you can just pull from there if you prefer.

[gcc-6.1.0.patch.txt](https://github.com/bcgsc/abyss/files/291643/gcc-6.1.0.patch.txt)

[2016-05-31 16:22] lsterck opened #117 "ABySS does not improve contig nor scaffolds stats"
I'm running a fairly large assembly process for which I have a few dozen input fastq files. I run this on a high memory cluster system, at least for the initial unitig building stage. However to improve efficiency ( and to reduce my cluster runtime costs ;-) ) I stop the abyss-pe script after the unitig file has been written and before it starts aligning the paired-end data to the unitgs to create

[2016-05-31 16:43] benvvalk commented on #117
Hi Lieven,

In principle what you are doing is fine, but I suspect that there is something going wrong during the hand-off between the unitig and contig stages.  It sounds like you are manually stopping the assembly job at the unitig stage which might cause trouble with partially generated output files.  Instead, you can add the word `unitigs` to the end of your `abyss-pe` command and it will stop

[2016-06-01 07:09] lsterck commented on #117
Hi Ben,

thanks for the swift reply! That's excellent I'll immediately give that 'unitigs' option a try.
Building on the same 'principle' can I add 'contigs' to the cmdline such that it will cleanly stop after the contig building stage (before doing scaffolding)?
I guess that when I manually stop the abyss-pe process when it starts doing (or is already busy) with the mapping , these potential part

[2016-06-01 15:34] benvvalk commented on #117
Hi @lsterck:

No problem, you're welcome.   Yes, there are similar targets for 'contigs' and 'scaffolds' as well.  I am not sure, but I think stopping the assembly part way during mapping could create partial output files, which would then (erroneously) treated as complete when you resume the assembly at the contig stage.  I am thinking in particular of the *.hist and *.dist files.

[2016-06-02 11:36] lsterck commented on #117
Hi Ben,

great, good to know!
So I just add these 'targets' at the very end of the abyss-pe cmdline (so even after the input files)?
cheers,
lieven

[2016-06-02 14:10] sjackman commented on #117
That's right. `abyss-pe` is a Makefile script, so the command line syntax is the same as `make`. There's also a `scaftigs` target (break all scaffolds at Ns).

[2016-06-03 08:40] zhaoletian opened #118 "MPI run question && insert_length for paired-end read question"
I have generated the dry-run before the real run(see the attachment), and find only the first step calls mpirun.   `AdjList` reports 'st9bad_alloc' and fails to work. I search on the Internet and learn that it may be caused by memory leak. So can I understand this event as only first step can use multiple nodes as well as all the memory, and then `abyss` will run only on a single node, therefore o

[2016-06-03 15:21] lsterck commented on #117
Great, good to know!
Just out of curiosity: what is the difference between those scaftigs and the regular contigs?
thx.

[2016-06-03 16:31] benvvalk commented on #118
Hi @zhaoletian,

Yes, you are correct -- only the first step uses MPI, and then the remained of the `abyss-pe` pipeline runs on a single node (many of the downstream programs are multithreaded).

Yes, `AdjList` is running out of memory.  I don't think it is a memory leak, but it does require significant memory for its data structures (hash table and suffix array).  Unfortunately, there is not much

[2016-06-03 16:38] benvvalk commented on #117
@lsterck: Where sequence identity is high enough (90% by default), ABySS will collapse paths through the scaffold graph into a consensus sequence (see `PathConsensus` step for -7.fa in `abyss-pe` file).  Other than that, I don't think there is much different between contigs and scaftigs.

[2016-06-08 21:43] sjackman opened #119 "Fails to build with GCC 6: error: cannot convert 'std::ifstream' to 'bool'"
We've already fixed this bug in `master`. A release of ABySS 1.9.1 that fixes this bug and removes the `sqlite` dependency would be nice.

[code]

[2016-06-21 11:31] zhaoletian commented on #118
@benvvalk Thanks for your reply! `m=<k-1>` works, and I move the left non MPI steps after `ABYSS-P` to another machine which has larger memory and finally gets the result.

[2016-06-21 16:15] benvvalk commented on #118
@zhaoletian Excellent, glad to hear.

[2016-06-21 16:15] #118 closed

[2016-06-30 18:59] sjackman opened #120 "abyss-sealer: std::out_of_range"
[code]

[2016-07-28 15:47] sjackman commented on #119
Fixed by cd0ee68

[2016-08-08 19:08] mebbert opened #121 "Using abyss-scaffold to scaffold a DISCOVAR de novo assembly"
Hi,

I really appreciate your assistance. I'm trying to use instructions you provided on how to "trick" Abyss into scaffolding a Discovar de novo assembly, as posted here: [Using the ABySS pipeline to scaffold a DISCOVAR de novo assembly](https://www.biostars.org/p/168878/). I have tried several approaches, so I hope you can follow what I'm doing. Please let me know if I can clarify anything!

I f

[2016-08-08 19:22] sjackman commented on #121
I believe (I forget where I read this) that DISCOVARdenovo internally uses k=200, so try `AdjList -k200 -m50`.

AdjList: Sequence.cpp:103: uint8_t baseToCode(char): Assertion `false' failed.

To troubleshoot this error, try:

[code]

DISCOVARdenovo 52488 did not give me a dot file. Are you certain the dot file came from DDN?

For me, the `a.lines` file is a binary blob, not a GraphViz .dot file.

[2016-08-08 19:41] mebbert commented on #121
I really appreciate the feed back!

I originally tried `-k200` but AdjList gave the following error, suggesting the max is 96:

I guess I'll try 96.

The command `abyss-tofastq a-6.fa | wc` fails with the same error:

abyss-tofastq: Sequence.cpp:103: uint8_t baseToCode(char): Assertion `false' failed.

Regarding the .dot file, I haven't ever looked at one. [DDN's FAQ](https://software.broadinstitu

[2016-08-09 00:28] sjackman commented on #121
You'll need to recompile ABySS using `configure --enable-maxk=256`. You can also do this using Homebrew / Linuxbrew with `brew install homebrew/science/abyss --with-maxk=256`.

[2016-08-09 00:29] sjackman commented on #121
Here you go:
https://github.com/sjackman/giab/blob/master/discovardenovo/intermediate.mk

[2016-08-10 19:32] mebbert commented on #121
Thanks again! I noticed in your makefile that you tried using BESST, too. What are your impressions on that scaffolder?

[2016-08-10 21:43] sjackman commented on #121
I was pretty happy with it. I found it easy to run too. Check out the ABySS 2.0 paper Figure 2B and Table 2 for the results on this one genome with ABySS-Scaffold, LINKS and BESST.
http://biorxiv.org/content/early/2016/08/07/068338

[2016-08-10 21:59] mebbert commented on #121
Interesting! I'd like to do a simple comparison between ABySS 2.0 scaffolder and BESST on our genome. I'm happy to share the data with you and get your feedback, if you're interested. Based on your paper, it looks like ABySS 2.0 is easier to use only the scaffolder? Is that accurate? As I mentioned, we have a DDN assembly.

[2016-08-10 22:12] sjackman commented on #121
Yes, please do try both scaffolders on your genome. Be sure to use the option `-S200-20000` to try a range of values for `S` and pick the one that gives the best N50. I'd like to add a feature to do the same for optimizing `N`.

No, unfortunately. It's not any easier to run ABySS-Scaffold standalone in ABySS 2.0. I would like to make that happen though.

[2016-08-10 22:14] mebbert commented on #121
Oh, bummer. I'd really like to try it, but it has been a loooong time since I've dealt with makefiles. I gave up on your previous instructions. :-/ Also, I couldn't figure the problem with the `>` character with AdjList. If you're willing to help me figure it out, I'd love to give it a shot.

[2016-08-10 23:15] sjackman commented on #121
If `AdjList` isn't working for you, you can use `abyss-todot` to create a fake overlap graph that contains only the contigs, but not their overlaps.

Try the following shell script. It takes as input a FASTA file of contigs named `assembly-contigs.fa` and a file of mate-pair reads named `mp6k_1.fq mp6k_2.fq` and produces a FASTA file named `assembly-scaffolds.fa`.

[code]

[2016-08-10 23:16] sjackman commented on #121
You can if you like also try using `bwa mem` instead of `abyss-map`. You still have to run `abyss-fixmate` though even if you use `bwa mem`.

[2016-08-12 13:44] sjackman opened #122 "Optimize abyss-scaffold n parameter"
`abyss-scaffold` can optimize the `S` parameter if you set `S=200-20000`. This behaviour is not currently the default and should be.
The same optimization feature should be implemented for the `N` parameter as well, and enabled by default.

[2016-08-23 02:09] mictadlo opened #123 "abyss-pe is linked to make"
Hi
abyss-pe is linked to make.

    # abyss-pe -h
    Usage: make [options] [target] ...

I install it from github in the following way:

    ./autogen.sh
    ./configure
    make
    make install

What did go wrong?

Thank you in advance.

Mic

[2016-08-28 20:53] sjackman commented on #123
`abyss-pe` is a Makefile script. Try `abyss-pe help`

[2016-08-28 20:53] #123 closed

[2016-09-01 18:10] sjackman commented on #113
@benvvalk The release notes say `Change 'S=s' => 'S=1000-10000' (do a param sweep of 'S')`. 1000 may be too large for assemblies of smaller reads / smaller values of *k*.

[2016-09-01 18:23] sjackman commented on #113
I just realized that `DistanceEst` of the scaffolding stage uses the `s` parameter (rather than `S`), so setting `S` to a smaller value than `s` will have no effect. So, `-S1000-10000` makes sense given that `s` is set to 1000. My gut sense would have been to bump `s` from 200 to 500 rather than 1000, but I have no data to back this up. Have you compared assemblies using `s=500` and `s=1000`?

[2016-09-01 18:35] benvvalk commented on #113
Ah, thanks Shaun.  Good to know about `s` vs `S`.

At some point I did compare `s=500` to `s=1000`.  IIRC it was with the bullfrog assembly and `s=1000` was the better result.   And I think you said before that you tried different values of `s` for the ABySS-1.9.0 assembly of the GIAB data and found `s=1000` to be the best.

The new default param values don't work quite as well with our old stock

[2016-09-01 18:52] benvvalk commented on #113
Fixed by 84cca39, 55d992d, 01a5675

[2016-09-01 18:52] #113 closed

[2016-09-01 18:54] benvvalk commented on #111
Fixed in Sealer by 2f3b868

[2016-09-01 18:55] sjackman commented on #113
I don't recall doing these tests. It's probably not a big difference. I'd like to do the tests when I get back to find out for sure.

[2016-09-01 18:56] benvvalk commented on #100
`DistanceEst --mean` is now the default choice for the scaffolding stage (commit  8470469)

[2016-09-01 18:56] #100 closed

[2016-09-01 18:58] benvvalk commented on #93
Fixed in 2f3b868 / 5a8f707.

You still can't specify Bloom filters as positional arguments, but now the input FASTQs are only required when it makes sense.

[2016-09-01 18:58] #93 closed

[2016-09-01 18:59] benvvalk commented on #90
Fixed by 2f3b868

[2016-09-01 18:59] #90 closed

[2016-09-01 19:03] benvvalk commented on #82
Fixed by bb7015e.

I added a `--max-gap-length` (`-G`) option that lets you specify the max gap size explicitly.  The old `--min-frag` /  `--max-frag` options are deprecated but are still available for the sake of backwards compatibility.

[2016-09-01 19:03] #82 closed

[2016-09-01 20:00] benvvalk commented on #113
Oh sorry, you're right.  We didn't test with different values of `s` on the GIAB assemblies.  (I was thinking of something else.)

And if you want to help with testing different values for `s`, I would appreciate it.

[2016-09-15 23:52] mictadlo opened #125 "undefined reference to `Histogram::barplot(unsigned int) const'"
Hi,
I tried to compile Abyss with `gcc version 4.3.4` in the following way:

`./configure --prefix=/home/lorencm/apps --with-sparsehash=/home/lorencm/apps --with-mpi=/pkg/suse11/openmpi/1.6.5 --with-sqlite=/pkg/suse11/sqlite/3081101`

What did I do wrong?

Best wishes,

Mic

[2016-09-16 00:00] benvvalk commented on #125
Hi @mictadlo,

I assume you are trying to compile the ABySS version (2.0.1)?

I don't think you are doing anything wrong. Your `configure` command looks good.  Most likely it is a compile error that is specific to older versions of gcc, and I just didn't catch it when I was preparing the release. Generally, I only test back to gcc 4.4  (which is quite old).

Is it possible for you to use a newer g

[2016-09-16 01:31] mictadlo commented on #125
Hi @benvvalk,
Thank you. It is actually 2.0.0.

[code]

I could use a newer gcc version, but unfortunately we have problems to Abyss running on different node.

Thank you in advance.

Mic

[2016-09-16 16:00] dbrowneup commented on #102
Hi guys,

I came across some neat code that is relevant to this topic: https://github.com/JohnLonginotto/ACGTrie

There's an explanation of the data structure here: https://github.com/JohnLonginotto/ACGTrie/blob/master/docs/OUTPUT.md

I think this "warp table" is a really nice data structure, though one would still need to write traversal algorithms capable of utilizing the information it contains

[2016-09-16 16:14] dbrowneup commented on #102
Quick follow up... Googling for "Bloom filter trie" led me to a recently published paper that y'all might find interesting: https://almob.biomedcentral.com/articles/10.1186/s13015-016-0066-8

Code: https://github.com/GuillaumeHolley/BloomFilterTrie

[2016-09-16 16:33] benvvalk commented on #125
`configure` output looks good.

Could you show the output of `make` also, please? (I need to see some context around the compilation error).

[2016-09-16 22:22] sjackman commented on #102
ACGTrie is a cool idea. It's a normal trie but stored in a table rather than a tree. I'd be curious to know how the memory/speed compares to an FM-index, which supports the same operations.

[2016-09-16 22:29] sjackman commented on #102
Bloom Filter Trie looks interesting. That one's going to take some time though to grok.

[2016-09-16 22:33] sjackman commented on #125
You may want to try using Linuxbrew to install ABySS. Install Linuxbrew in the directory `/home/linuxbrew/.linuxbrew` if possible to use precompiled binaries. See http://linuxbrew.sh
[code]

[2016-09-24 18:54] sjackman opened #126 "Bits or bytes? B: Bloom filter size (e.g. "100M")"
@benvvalk Could you please clarify in the second line whether the Bloom filter size `B` is specified in bits or bytes?

Also here.

[2016-09-24 19:00] sjackman commented on #126
Can you give in the README the formula to calculate memory usage based on `B` and `H`?
I specified B=100G H=1 and the memory usage is 25 GB, which is not what I expected.

[2016-09-25 20:57] sjackman opened #127 "make check BloomFilter fails with configure --enable-maxk=160"
https://gist.github.com/sjackman/87794e47881a48784904731d63576621#file-03-make-L246

[code]

[2016-09-26 03:18] sjackman opened #128 "abyss-bloom-dbg: Disable buffering on stdout"
The progress reports come in fits and bursts, I suspect due to buffering of stdout. To set stdout to line-buffering, use:

[code]

See https://github.com/bcgsc/abyss/blob/master/ABYSS/abyss.cc#L127

[2016-09-26 19:54] benvvalk commented on #126
Okay, I updated `README.md` / `--help` and pushed to public/master.

For the record, the `B` param specifies the overall memory budget for the Bloom filter assembly step (`abyss-bloom-dbg`) in _bytes_ (not bits).  Internally, the memory allocated with `B` is split equally across (`kc` + 1) Bloom filters, where `kc` Bloom filters are allocated for the cascading Bloom filter and one additional Bloom

[2016-09-26 19:54] #126 closed

[2016-09-26 20:00] benvvalk commented on #128
Not sure about this.  `abyss-bloom-dbg` does all of its logging to STDERR, which is never buffered as far as I understand.  Its probably something else causing the chunkiness.

[2016-09-26 22:45] sjackman commented on #126
Thanks for the explanation, Ben.

[2016-09-26 22:48] sjackman commented on #128
Hmm. That's confusing. You're right, stderr is line buffered. I'll do some troubleshooting.

[2016-10-05 20:36] trofi opened #130 "build failure against boost-1.62: error: 'degree' was not declared in this scope"
Build failure on current master looks like that:

[code]

Boos commit that added `degree()` check: https://github.com/boostorg/graph/commit/50bfd8dad0ded59e3335d7f577549c968b371a80

[2016-10-05 20:38] trofi commented on #130
I guess you only need to define `is_directed_graph<G>::type` for that kind of graph.

[2016-10-05 21:02] benvvalk commented on #130
Thanks for the bug report, @trofi.

Can you please tell me what compiler/version you are using? (So I will have a way to check that I have successfully fixed it).

[2016-10-05 21:09] benvvalk commented on #130
Sorry never mind about the compiler version.  I didn't realize that I just have to upgrade boost to reproduce the error.

[2016-10-07 20:17] tillea opened #131 "Build issue with gcc 6"
Hi,

when building the abyss Debian package with gcc version 6.1 I get the following error:

[code]

Kind regards  Andreas.

[2016-10-07 20:24] sjackman commented on #131
Thanks for the bug report, Andreas. We'll look into it and hopefully have a fix for 2.0.2.

[2016-10-12 17:27] KamilSJaron opened #132 "option -c is not recognised for bloom filter"
Hello,

I have compiled AbySS 2.0.0 on our computational server (without obvious problem). Some of modules were working (`abyss-pe name=Tge_abyss_k83 k=83 lib=<...>` made an assembly). However, when I tried to use bloom filter:

[code]
it returned

[code]
when I deleted `-c`, it runs, not sure how reasonable result I will get out of it....

(probably unrelated) I have also some troubles with param

[2016-10-12 18:02] benvvalk commented on #132
Hi @KamilSJaron,

You need to use `kc=3` instead of `c=3`.

I've changed the name of that parameter since the prelease version that was evaluated in the ABySS 2.0 paper on BioRxiv. Other than that, the command lines in the paper should work fine.  Sorry for the confusion.

[2016-10-12 18:13] benvvalk commented on #132
I agree about your other error.  It is probably a server configuration issue.  Using `np=<num_mpi_processes>` triggers an MPI assembly.  If you want to specify number of threads for Bloom filter assembly, use `j=<num_threads>` instead.

[2016-10-12 18:24] KamilSJaron commented on #132
Ah, sorry, I have not noticed this change. Works like charm now (both multithreading and kc)! Thanks.

[2016-10-12 18:25] benvvalk commented on #132
Welcome!

[2016-10-12 18:25] #132 closed

[2016-10-18 17:07] sjackman commented on #131
Hi, Ben. This issue came up with one of the participants at Hackseq this  weekend.

[2016-10-18 17:07] sjackman commented on #130
Hi, Ben. This issue came up with one of the participants at Hackseq this  weekend.

[2016-10-18 17:21] benvvalk commented on #130
Sorry for the trouble, Shaun.  I will fix it and make another release this week.

[2016-10-25 05:35] sjackman opened #133 "make check fails with clang"
[code]

See for example https://bot.brew.sh/job/Homebrew%20Science%20Pull%20Requests/6210/version=el_capitan/testReport/junit/brew-test-bot/el_capitan/install_homebrew_science_abyss/

[2016-10-25 16:38] benvvalk commented on #133
*sigh*

[2016-10-25 16:53] sjackman commented on #133
I haven't tested `make check` with GCC 6. It may reproduce the same issue. It may help to update the bundled version of `gtest` to 1.8.0.

[2016-10-25 16:59] benvvalk commented on #133
I think I know what I did wrong.   I am unconditionally disabling GTest's own `tr1::tuple` implementation with `-DGTEST_USE_OWN_TR1_TUPLE=0`, whereas it needs to be set based on the existence/non-existence of `tr1::tuple` in the C++ standard library.

I tested `-DGTEST_USE_OWN_TR1_TUPLE=0` with gcc 4.4 and gcc 6 on Linux, and also our CircleCI tested that for clang on Linux as well.  But I guess i

[2016-10-25 21:35] sjackman commented on #133
Sounds about right. I can confirm that I can reproduce this issue on my machine.
[code]

[2016-11-17 22:18] lijingbu opened #135 "Steps of parallel process"
Hey,

Just found out that with **np option** abyss-pe will run the ABYSS in parallel, but the mapping step abyss-map (map each library reads to assebmly-3.fa) is only using all CPUs on one node, while the rest of the nodes are not running anything. I read in the document that ABYSS is the only step parallel.  It would be much faster if the abyss-map step could also use multiple nodes, in the case

[2016-11-17 23:50] sjackman commented on #135
Hi, Lijing. Yes, `ABYSS-P` is the only distributed step of ABySS using Open MPI, all other steps are parallelized on a single machine using OpenMP. The default value of `j` should be the number of threads available on the first machine. For example, if you use four machines each with 12 threads, the default value of `np` is 48 and the default value of `j` is 12. If for some reason the scheduler in

[2016-11-17 23:50] #135 closed

[2016-11-21 08:06] bioinfomaticsCSU opened #136 "Input Data about Abyss-sealer"
When running abyss-sealer, I have a question:
"abyss-sealer -b20G -k90 -k80 -k70 -k60 -k50 -k40 -k30 -o test -S scaffold.fa read1.fa read2.fa"
Does "read1.fa" keep the left reads of a library? Or is "read1.fa" a single-end read file?

[2016-11-21 17:32] benvvalk commented on #136
Hi @bioinfomaticsCSU,

In this example `read1.fa` are the left reads and `read2.fa` are the right reads.  It actually doesn't matter what you give the read files, because Sealer does not use any of the pairing information.  It just extracts k-mers from the reads to build the de Bruijn graph.  The reads are also allowed to be FASTQ format, which is the more commonly used than FASTA for input reads

[2016-11-21 17:32] #136 closed

[2016-11-22 00:12] bioinfomaticsCSU commented on #136
Thanks very much!

[2016-11-22 20:06] emreerhan opened #137 "Assertion `tstart > 0' failed. in overlap.cc"
While running trans-ABySS v.1.4.10, my team member had an error where an assertion failed in abyss-overlap in ABySS 1.3.5. After checking the log file, I saw that the assertion that failed was `assert(tstart > 0)` in `overlap.cc`. I realized that in later versions of ABySS that this assertion was removed, so I simply commented out the assertion and ran trans-ABySS again. With this run, another ass

[2016-11-22 20:20] sjackman commented on #137
Thanks for the bug report, Emre. Please include the exact command that you ran and the exact error message, copied and pasted from the log file.

[2016-11-22 20:22] sjackman commented on #137
Are you able to reproduce this error using `abyss-overlap` from ABySS 2.0.1?
`/gsc/btl/linuxbrew/Cellar/abyss/2.0.1-k96/bin/abyss-overlap`

[2016-11-22 20:23] emreerhan commented on #137
[code]
So the exact command is: `abyss-overlap -v -j20 -m96 merge/indel_bubbles/POG680-OCT-1-b.fa.incomplete` and the error is `Assertion `ep0.distance < ep.distance' failed.`

[2016-11-22 20:31] benvvalk commented on #137
Thanks for your help, @sjackman

[2016-11-22 20:32] emreerhan commented on #137
I will try using ABySS 2.0.1. I'll run TA now, it should take about 2-3 hours.

[2016-11-22 22:00] benvvalk commented on #137
This is the function in abyss-overlap that is causing the trouble.  (@emreerhan You said the version of `abyss-overlap` you were running was 1.3.5, correct?)

Unfortunately, I don't understand what it's doing.

[code]

[2016-11-22 22:01] emreerhan commented on #137
That is correct.

[2016-11-22 22:14] sjackman commented on #137
It fails with ABySS 2.0.1 as well.
`/projects/btl/sjackman/abyss-overlap/make-1.log`

[2016-11-23 17:20] emreerhan commented on #137
[code]
This is the error I get with ABySS 2.0.1

[2016-11-23 18:07] sjackman commented on #137
I won't have time to troubleshoot this error this week as we're working on revising the ABySS 2.0 manuscript. Remind me to look at this error next week.

[2016-11-23 18:08] sjackman commented on #137
In the mean time as a workaround, you could probably skip this step of Trans-ABySS pipeline.

[2016-11-23 18:39] benvvalk commented on #137
I asked @kmnip (Trans-ABySS veteran) and he said he has seen this error on rare occasions but doesn't know the root cause (or have any workarounds).

@emreerhan, is this is a time-critical job?

Unfortunately, I'm in the same boat as Shaun. I will try to identify the problem sequence by adding some debugging statements to the code, when I can steal some time. Perhaps if it is only one sequence tha

[2016-11-23 18:49] emreerhan commented on #137
The deadline is TBC right now, so we do have some time.

Thanks for the help.

[2016-11-28 18:13] emreerhan commented on #137
Hi Ben and Shaun. If you do not have time to debug this error this week, we will use our other tools to complete the analysis. If you do get around to fixing this however, it would be good for us to know for the future, in case it happens again.

[2016-11-28 21:53] benvvalk commented on #137
@emreerhan

I will likely have time on Wed and will have a look then.  Thanks for your patience.

[2016-11-28 21:57] emreerhan commented on #137
Great, thanks @benvvalk!

[2016-11-30 17:00] benvvalk commented on #137
Sorry @emreerhan, I need one more day.  Will look tomorrow morning.

[2016-12-05 10:29] johnomics opened #138 "abyss-filtergraph: too many arguments"
I am trying to run Abyss 2.0 using the bloom-abyss-preview branch, commit  [37cbc5c](https://github.com/bcgsc/abyss/commit/37cbc5c93db837250333307be1cf1b19df8388f0), but the test data fails:

[code]

`abyss-filtergraph` will run on its own, and produces a dot1 file, but it leaves an empty path file:
[code]

[code]

Any idea what's wrong here? Thanks.

[2016-12-05 16:46] sjackman commented on #138
Hi, John. I'd suggest using ABySS 2.0.2, which includes all the features of `abyss-bloom-preview`.
My guess is that your versions of `abyss-pe` and `abyss-filtergraph` disagree. Please report
[code]
I'd recommend using either Homebrew or Linuxbrew (for Mac or Linux) to install ABySS.

[2016-12-05 17:28] johnomics commented on #138
Agh, that was dumb of me - I was working from the Abyss-2.0 preprint and didn't check the releases. But the problem persists, even after Linuxbrew installation of 2.0.2:

[code]

[code]

[code]

Should have noticed this before from the log, but it looks like the issue is we have Abyss 1.3.7 installed in /usr/local, and somehow abyss-pe 2.0.2 is picking this up, despite linuxbrew being the first th

[2016-12-05 17:39] benvvalk commented on #138
@johnomics

Good eyes.  What's happening is that `MAKEFILE_LIST` line is that it is looking for the first `abyss-pe` that occurs on your PATH, then adding the directory containing that `abyss-pe` to the front of your PATH. (To make sure all the ABySS executables are coming from the same directory.)

Given that info, I don't understand how your are ending up with the 1.3.7 executables...

[2016-12-05 17:55] johnomics commented on #138
Classic error. I was adding linuxbrew to my path in bash_profile, not bashrc. Because make shell uses a non-interactive shell, it only runs bashrc, not bash_profile, so it was picking up the system abyss in /usr/local. Sorry to bother you with this, and thanks for your help.

[2016-12-05 17:55] #138 closed

[2016-12-05 18:25] sjackman commented on #138
No worries. Thanks for following up with the resolution, John.

[2016-12-17 00:10] emreerhan commented on #137
For the record, even after reassembling the genome, trans-abyss still gives the same error.

[2016-12-17 19:22] dbrowneup opened #140 "Bug in abyss-filtergraph"
Hi guys,

I'm using `abyss-filtergraph` to try and remove tips from an assembly I'm working on. I constructed the overlap graph with `abyss-overlap` and everything seems to be working until it's time to write the output:
[code]
Any help is appreciated!

[2016-12-17 19:32] dbrowneup commented on #140
Also, if I try writing the output in dot format:
[code]

[2016-12-19 18:00] benvvalk commented on #140
Sorry Dan, I'm not sure what is going on here.

I would need to do a debugging session on your data somehow (or a subset of it).  However, I'm going on vacation in a couple of days  and I'm not sure I will have time before then.  (I won't be back until Jan 9th.)

[2016-12-26 21:53] sjackman commented on #140
For troubleshooting, try using
`--no-shim` without `--assemble` and `--tip` then
`--assemble --no-shim` then
`--tip --no-shim` then
`--assemble --tip --no-shim`

[2016-12-28 19:33] dbrowneup commented on #140
Shaun, thanks for the good suggestions. I've isolated the problem in the `--tip` parameter:

--no-shim and --gfa
[code]
--no-shim and --tip and --gfa
[code]

--no-shim and --tip and --dot
[code]
--no-shim and --tip and --adj
[code]

--tip and --gfa
[code]

--no-shim and --assemble and --gfa
[code]

[2016-12-28 20:35] dbrowneup commented on #140
I ran one more test to be sure the problem is in `--tip`. It shows the `Assertion '!get(vertex_removed, g, v)'` problem doesn't happen with `--length`
[code]
But I don't really want to use `--length`. I was looking at the graph structure in Bandage and there are some huge chunks that could be clearly resolved if I filter tips and pop bubbles instead of destroying the graph structures with `--lengt

[2016-12-28 21:59] dbrowneup commented on #140
Good news y'all, I figured it out. By excluding the fasta file of the assembly, `abyss-filtergraph` is able to write the proper output!
[code]

[2016-12-28 23:34] dbrowneup commented on #140
Sorry to keep spamming you guys, but I have a follow-up question. Now that I have the tip filtration working, I'm trying to pop bubbles using `PopBubbles` and here's what I'm seeing:
[code]
It seems like `PopBubbles` is throwing out a huge amount of information from the graph. After trying to use `MergeContigs` the results are really far short of what I was expecting. My impression is that `PopBub

[2016-12-29 06:22] a113n commented on #120
I have exactly the same error as well. Is there any solution for this bug?

[2017-01-06 19:54] woodoo46 opened #141 "N in abyss assembler"
Hi there,

Why some of the Abyss contigs have N in them? Do they mean ambiguous bases or gap?

Thanks.

[2017-01-06 23:46] emreerhan opened #142 "Bug when graph=adj flag specified"
Hi again,

It seems like when the graph=adj flag is specified for abyss-pe, the name-2.adj file is still made as a dot file. However, the name-2.adj1 file is made correctly as an adj file. If the flag isn't specified, I think these two files are exactly the same. I tried converting the name-2.adj1 file to dot using abyss-todot, and tried to diff the files to see if they are indeed the same. This i

[2017-01-09 17:56] benvvalk commented on #141
Hi @woodoo46,

A single N indicates a case where the read pair distances indicated an overlap between two sequences, but the overlapping ends were not merged because the sequences did not exactly match.  I don't recall if the single N character is output as uppercase (`N`) or lowercase (`n`) in that case.

A sequence of two or more N's is the result of consensus calling, I believe.  This happens w

[2017-01-09 17:58] benvvalk commented on #142
Noted. Thanks for taking the time to report it!

[2017-01-09 19:10] sjackman commented on #120
No, I'm afraid I haven't had a chance to look into this bug any further. I'd suggest trying different values of *k*. You should hopefully be able to find some values of *k* for which you do not experience this error. Sorry that I can't do any better for now.

[2017-01-09 19:32] sjackman commented on #140
Hi, Dan. Sorry for the delay in my reply. I was off on vacation.

It's great to hear that you got `abyss-filtergraph` working! You shouldn't need to specify the FASTA file (as you figured out) with either a GV (GraphViz) or GFA file. The error message was unfortunately cryptic.

Based on that log it looks like `PopBubbles` is working as expected, and most of the branching in your graph is caused b

[2017-01-09 23:53] benvvalk commented on #140
Thank you, Shaun!

[2017-01-10 01:10] sjackman commented on #140
`PopBubbles` gets its coverage information from the graph file. `abyss-overlap`, which generates that graph file, gets its coverage information from the FASTA header. Since it can't parse that FASTA header, all the contigs will have coverage `0`. That's not actually a significant problem, but it does mean that rather than picking the higher-coverage branch, it picks an arbitrary branch. I forget n

[2017-01-10 21:16] sjackman commented on #141
A single lower-case `n` indicates that the two sequences are expected to overlap, but a perfect overlap was not found.

A sequence of capital Ns indicates a gap, either a gap in sequencing coverage, or a scaffolding gap over an unresolved repeat.

Ambiguous bases are represented by IUPAC ambiguity codes, usually not `N`, although that's technically possible if reads showed evidence for all four ba

[2017-01-10 21:16] #141 closed

[2017-01-10 21:20] sjackman commented on #142
Looks like the bug is at https://github.com/bcgsc/abyss/blob/master/bin/abyss-pe#L518
Untested fix:
[code]

[2017-01-10 21:23] benvvalk commented on #142
Thanks, Shaun!

[2017-01-14 00:01] benvvalk opened #143 "abyss-pe: check for required executables on PATH"
A user mentioned that they had a long-running job fail because they didn't have `bwa` on their PATH (during long-read scaffolding stage).  It would be nice to somehow check for the existence of required executables on PATH prior to running the assembly.

[2017-01-26 18:14] dbrowneup commented on #140
Hey Shaun, I finally got the whole pipeline working, including PopBubbles:
[code]

Here's the output:

[code]

You can see that the MergeContigs step after PopBubbles has a problem writing the graph, however, it writes the Fasta file just fine before it crashes. Thus I was able to simply re-build the graph with abyss-overlap.

Again, it's the same line of code in GraphIO (`Assertion '!get(vertex_r

[2017-01-26 20:29] KamilSJaron opened #144 "orientation of mate-pairs"
Hello, I am very happy with set of contigs produced by abyss (N50 ~ 2-5k, 2-5M of contigs depending on species). In my pipeline I scaffold contigs with BESST which produces assembly with really decent continuity (N50 ~ 170k) and completeness (BUSCO: 92% of complete genes, 1.7% fragmented).

However, abyss scaffolding is a disaster (N50 increases by less than 100) and my personal guess is that abys

[2017-01-27 17:48] benvvalk commented on #144
@KamilSJaron:

ABySS tries to automatically determine the orientation of the mate pair reads, based on alignments of the mate pairs to the assembly.  You can see the decision it makes by looking for a line like this in the log output:
[code]

If you want to force reverse-forward orientation for your mate pair libraries, you can add the following to your abyss-pe command line:
[code]

The `de` is s

[2017-01-29 17:49] KamilSJaron commented on #144
Thank you, I found it in err log, AbySS indeed recognises mate pairs in correct orientation. Logs are pretty big to upload here, I have sent you email with link to ftp server (uploading now).

[2017-02-02 18:02] sjackman commented on #130
…

This issue is caused by some versions of Boost, 1.62.0, and possibly others. Which version of Boost are you using?
@benvvalk Do you know which versions of Boost cause this error?

Try upgrading Boost like so:
[code]

[2017-02-02 19:18] benvvalk commented on #130
@sjackman:

Thanks for recognizing this error and redirecting users to this ticket.

This bug occurs when compiling Boost 1.62 or higher is fixed as of release 2.0.2.

If a user specifically wants to an older of ABySS (e.g. 1.5.2), then he/she will have to download the headers for Boost 1.5 and use those when compiling (as per your directions above).

I am closing this ticket as the bug is fixed n

[2017-02-02 19:18] #130 closed

[2017-02-05 16:30] ivyhzau opened #145 "fatoagp"
how to get agp file by abyss-fatoagp. Thanks for your help

[2017-02-05 17:02] sjackman commented on #145
[code]
Read the file `scaffolds.fa` and produce the FASTA file `contigs.fa` and AGP file `contigs.agp`

[2017-02-05 17:02] #145 closed

[2017-02-05 18:02] sjackman commented on #144
To troubleshoot, I'd suggest taking the `abyss-scaffold` command line from your log and executing that command with different values of `-n`. Trying setting `-s` to `-s500-10000` and trying different values of `n` from 1 to 100 (say). It should run pretty fast, so you can do it in a for loop.
[code]
Then check the logs and find the value of `n` that maximizes `N50`. Then rerun the `abyss-pe` pipel

[2017-02-06 17:04] benvvalk commented on #145
Thank you, Shaun.

[2017-02-06 17:09] benvvalk commented on #144
@sjackman  Thank you, Shaun.  I also examined @KamilSJaron's logs and sent him some advice by e-mail.  He is doing a Bloom filter assembly and made a typo when setting `kc`, so his assembly was defaulting to `kc=2`.  Since his unitig N50 was quite low, I recommended that he conduct sweeps for both `k` and `kc` to get better results.

[2017-02-06 22:36] sjackman commented on #144
I'll close this issue for now. Feel free to follow up, Kamil.

[2017-02-06 22:36] #144 closed

[2017-02-06 22:41] KamilSJaron commented on #144
Thanks both of you. I will need bit of time to investigate. Cheers!

[2017-02-10 22:43] michaelbarton opened #146 "Abyss appears to struggle with read orientation when processing multiple displacement amplification data (i.e. single cell)"
I've been benchmarking abyss on single cell data and got the following error:

[code]

I assume this is because either the quality of the data is very low at the ends of the reads, or perhaps MDA is creating chimeric DNA? This is just an uninformed guess on my part however.

The command I used is:
[code]

[2017-02-10 22:49] sjackman commented on #146
ABySS stopping in this situation is intentional. If 2.6 times the number of reads are oriented FF than FR, then the library prep has issues that ABySS will not be able to handle. Better to stop and tell the user. You could omit the paired-end information by using `se= reads.fq.gz` rather than `in= reads.fq.gz`.

I'm not terribly familiar with single-cell MDA, so I can't say whether this quality is

[2017-02-10 22:55] michaelbarton commented on #146
Thanks Shaun. This is a dataset that some assemblers struggle with, but others are able to complete. I'm not sure of the exact issues in the data, I will investigate further.

[2017-02-10 22:56] sjackman commented on #146
ABySS will complete if you use `se=reads.fq.gz`. The paired-end info in the library is suspect, and perhaps should be ignored.

[2017-02-10 23:05] michaelbarton commented on #146
This is using the abyss biobox image, and for other datasets it works:

https://github.com/bioboxes/abyss/blob/master/image/bin/assemble.sh#L12

[2017-02-10 23:11] sjackman commented on #146
This data set is effectively unpaired, as far as ABySS is concerned, so that command won't work because you're telling ABySS that the data set is paired (by using `in=` rather than `se=`).

[2017-02-13 21:57] michaelbarton commented on #146
Thanks Shaun.

The data was generated from a paired sequencing library at the JGI, but
sequencing, multiple displacement amplification or other unidentified root
causes appear to be causing the issue.

Bioboxes currently only supports using paired-end interleaved libraries in the
input format for all assembler. I think I would not prefer not to change the
abyss biobox to use `se=` as I assume this

[2017-02-14 20:44] sjackman commented on #146
Being that this library is rather weird, I don't feel that it's a good choice for benchmarking. It'd be good to confirm that it's FF-oriented using BWA to align to a reference.

[2017-02-22 19:36] quattrinia opened #147 "MPI installation"

[2017-02-22 20:03] #147 closed

[2017-03-04 15:53] machadodj opened #148 "ABySS v2.0.2 - [XXX-3.dist] Error 1"
# Introduction

I'm currently trying to assemble short sequence reads from Illumina HiSeq2500 that have been filtered and trimmed using a variety of quality control tools (e.g., FastUniq, HTQC, Trimmomatic, NextClip).

Mate pair libraries were prepared with different protocols (i.e., Gel Free, 3kb, 5kb, 8kb, 10kb). After quality controls, many reads are separated and treated as single-end or paire

[2017-03-05 20:11] sjackman commented on #148
I don't see any obvious cause of the error in your log file. I'd suggest adding `pe-sam` to your `abyss-pe` command line to save the `.sam.gz` file, so that you can run outside of your HPC scheduling system the DistanceEst command that's failing, to aid troubleshooting.
[code]

[2017-03-06 17:30] benvvalk commented on #148
Thanks, @sjackman.

@machadodj:  Thanks for providing a detailed description with log files, etc! I noticed a couple of error messages in the STDERR log you provided.  This lines is probably the root cause of your problems:
[code]

You should be able change the temporary directory that is used by `sort` by exporting `TMPDIR` at the top of your job script, e.g.
[code]

[2017-03-06 17:32] sjackman commented on #148
Good eyes, Ben! 👀

[2017-03-06 17:38] benvvalk commented on #148
@sjackman:  Thanks! (I got a good chuckle out of the googly eyes, btw.)

[2017-03-06 18:01] sjackman commented on #148
The eyes should follow your cursor like `xeyes`.

[2017-03-14 20:00] machadodj commented on #148
I would like to start by thanking @sjackman and @benvvalk for their comments.

Taking their comments into account, I specified the TMPDIR at the beginning of my PBS script:

`export TMPDIR=/lustre/scratch/dmachado`

I also added the pe-sam argument to my abyss-pe command line:

`/home/dmachado/sw/ABySS_202/bin/abyss-pe -C k${kmer_size} k=${kmer_size} np=24 j=24 n=10 v=-v name=scaf${kmer_size} lib=

[2017-03-14 22:22] sjackman commented on #148
Hi, @machadodj. It's the same error message:
[code]
You can resolve this error by creating the directory `/lustre/scratch/dmachado`.
[code]

[2017-03-28 15:53] ptranvan opened #149 "How up is large genomes ?"
Hi I would like to know how up (in term of genome size) Abyss can be used ?

[2017-03-28 16:12] sjackman commented on #149
We have used it for diploid genomes up to 20 Gbp, which are not terribly heterozygous. How large is your genome, Patrick?

[2017-03-28 16:12] #149 closed

[2017-03-29 03:13] zhouqiansolab opened #150 "Miss ABYSS-P after the compiling"
Hi,
 I downloaded the source code from GitHub and installed it by the following steps.
[code]
At last I got many executable files in ~/bin, but no ABYSS-P. Shaun Jackman recommended using Linuxbrew to install ABySS, but my cluster is unable to connect the internet. I need to compile it locally.

Could you have any idea about this? Thank you.

[2017-03-29 08:20] zhouqiansolab commented on #150
I have figured out it.
The "lib" and "include" directories of openmpi should be included in same directory, for example openmpi_zhou. Then install with --with-mpi=openmpi_zhou/.

I got clues from this site  http://www.cnblogs.com/yumtaoist/p/4250442.html .

Anyway, thank you!

[2017-03-29 08:30] zhouqiansolab commented on #150
I have figured it out !

The "lib" and "include" directories of openmpi should be included in same directory, for example openmpi_zhou. Then install with --with-mpi=openmpi_zhou/.

I got clues from this site http://www.cnblogs.com/yumtaoist/p/4250442.html .

Anyway, thank you!

[2017-03-29 16:25] sjackman commented on #150
Glad to hear that you got it figured out.

[2017-03-29 16:25] #150 closed

[2017-04-07 16:51] rafelafrance opened #151 "DistanceEst: DistanceEst.cpp:619: int main(int, char**): Assertion `in' failed."
I'm having some trouble running abyss on certain data. I am new to all of this assembly stuff so there may be problems with what I'm feeding into abyss but the error message is not really helpful and looking at the DistanceEst.cpp source is not shedding any light either.

There is no obvious log file produced so I'm attaching the screen output (it's short) and an input file that fails as described

[2017-04-07 17:04] benvvalk opened #152 "don't declare static variables in header files"
Depending on how the program is linked, it can lead to multiple copies of the same variable with different values.

Example from `SAM.h`:
[code]

[2017-04-07 17:08] benvvalk commented on #151
Hi @rafelafrance,

You are not specifying your input files correctly.

See https://github.com/bcgsc/abyss#assemble-a-small-synthetic-data-set in the ABySS README.md for an example of how to use `in=...`.   Or see the abyss-pe.1 man page in the doc subdirectory.

[2017-04-07 17:46] rafelafrance commented on #151
Thank you for your prompt reply.

I may be confused but, I started from that format. The files I gave you were simplified to ease reproducing the error. Originally, I ran:
[code]
I just concatenated the two files for ease of use and put the .txt suffix on so that I could upload it.

[2017-04-07 21:44] sjackman commented on #152
The header file should use either:
[code]
or
[code]

[2017-04-07 21:50] sjackman commented on #151
Hi, Rafe. I just ran
[code]
and then assembly succeeded.
[code]
Can you try the above command?

[2017-04-07 21:52] sjackman commented on #151
I can confirm that
[code]
with the same error that you saw above.

[2017-04-07 21:57] sjackman commented on #151
[code]
DistanceEst is failing because none of the read pairs map with the two reads on different contigs. The error message is admittedly terrible. You should have a file named `error-unitigs.fa`, which in this case is the final assembly.
[code]

[2017-04-07 21:57] #151 closed

[2017-04-07 21:58] rafelafrance commented on #151
Thanks

[2017-04-17 13:35] TomNash opened #153 "Use of named pipes"
Apologies if this is too general of a question, but we're looking at using named pipes (FIFOs) for some I/O reduction. Are these supported by ABySS? We're in the early stages of development and this is more of a hypothetical at this point.

[2017-04-18 15:43] benvvalk commented on #153
@TomNash:

Most of the programs that make up the ABySS pipeline are streaming (read once, write once), although there are some exceptions.

However, ABySS writes out a lot of intermediate files (one for each step of the assembly pipeline), and I am not aware of any easy tricks to replace all of those intermediate files with FIFOs.

If you want to better understand the mechanics of the ABySS, pleas

[2017-04-18 23:17] sjackman commented on #153
The files passed as input to ABySS are read multiple (precisely three) times: once to assemble the unitigs, the contigs, and the scaffolds. Each step streams the reads, as Ben mentioned, but it must be possible to read those files multiple times. My best suggestion is to use a local solid state disk drive or a local RAM disk to store the reads and intermediate files.

[2017-04-18 23:17] #153 closed

[2017-04-19 00:27] TomNash commented on #153
Thanks guys

Sent from my iPhone

[2017-04-19 00:40] sjackman commented on #153
No problem, Tom.

[2017-04-27 21:42] notestaff opened #154 "abyss-sealer keeps going after closing all gaps"
When specifying multiple kmer sizes, if kmer sizes listed earlier have resulted in the closing of all gaps, abyss-sealer keeps going with the remaining kmer sizes.  Is there a reason?

[2017-05-11 17:10] zhanglu295 opened #155 "Problems of openmpi in abyss"
Hi there,

I have two questions when I used abyss for de novo assembly.

1.  The program was usually deadlocked at “Finding adjacent k-mer…” when I used the command:

mpirun -np 10 ABYSS-P -k70 -q15 -v   --coverage-hist=coverage.hist -s config1-bubbles.fa  -o config1-1.fa new.fastq

I have read the users FAQ and added "--mca btl_sm_eager_limit 16000 --mca btl_openib_eager_limit 16000”, but it cann

[2017-05-11 17:40] sjackman commented on #155
Do try a smaller value of `maxk`, such as `--enable-maxk=96`.
Are you able to monitor the memory usage on the machines? ABySS reports how much memory it's using as it loads sequences. Are you close to the limit?
`np=1` depending on your sequencing data set will almost certainly exceed the memory available of a single process.
Try using the new ABySS 2.0 memory-efficient Bloom filter data structure

[2017-05-11 19:04] benvvalk commented on #155
I agree with Shaun's comment about trying `--enable-maxk=96`.  It would be useful diagnostic info.  And also with Shaun's guess that you are probably running out of memory with `-np 1`.

Using `ntcard` to count distinct k-mers is a good suggestion, and also very helpful diagnostic info.

If you are interested in trying the new Bloom filter assembly mode, there are instructions here: https://github

[2017-05-15 11:37] notestaff commented on #154
Also, if there were too many paths at some kmer size, there'll be too many paths at smaller kmer sizes.  (If the flanking sequences have not changed.)

[2017-05-15 16:28] benvvalk commented on #154
@notestaff You are right, that is a bit silly (continuing with smaller k-mer sizes when all gaps have already been closed).  Thanks for reporting the bug.  It will probably be a while before I get around to fixing it -- I am pretty busy for the next few weeks at least.  (If you like, you can give it a try and submit a pull request.)

What you say about the "too many paths" is true.   Implementatio

[2017-05-16 16:12] notestaff opened #156 "possible bug in 'abyss-bloom kmers -r'?"
@benvvalk
At https://github.com/bcgsc/abyss/blob/master/Bloom/bloom.cc#L787
[code]
should it be
[code]
?

[2017-05-16 16:15] notestaff commented on #154
Ok, thanks, I might try to fix these myself.  Your code is remarkably clear, esp. for a research project :)

[2017-05-18 17:16] benvvalk commented on #156
@notestaff

Yes, you are right! I've pushed the fix to our private dev repo, so that it will be included in the next release.

Thanks!

[2017-05-18 17:19] benvvalk commented on #154
Thanks for the compliment!

Credit goes to @dpaulino for the nice job on the Sealer source code. (I wrote the supporting bidirectional graph search routine (`connectPairs`), which is also used by the `konnector` program (read merging tool)).

[2017-05-19 22:28] benvvalk opened #157 "`abyss-pe help`: add `B`, `kc`, `H`"
Add documentation for parameters related to the new Bloom filter assembly mode.

[2017-06-15 19:41] benvvalk opened #158 "FastaReader: don't trim lowercase bases by default"
By default lower-case bases are trimmed from the beginning/end of sequences.

If the user has lower case bases in their input reads/contigs (for whatever reason), surprising behaviour can result such as the removal of entire sequences that happen to be in lower case.

This issue was pointed out by someone using Sealer.

[2017-06-15 21:22] sjackman commented on #158
I endorse this change. The historical purpose of this feature was for 454 reads, which masked the adapter/poor-quality sequence at the ends of reads with lower case nucleotides.

[2017-06-15 22:48] benvvalk commented on #158
Thanks, Shaun.  I didn't know what the original application was, so that's very helpful.

[2017-06-22 10:11] cd-ccmb opened #159 "build error in ABYSS 1.5.2"
I am getting the following error while building ABYSS1.5.2 (needed for transabyss) using boost1.56.0. I have tried several boost libraries both higher and lower once but the same error is coming.

[code]

Thanks

[2017-06-22 13:45] aersoares81 opened #160 "version `GLIBC_2.14' not found (required by ABYSS-P)"
Hi,
I've been having trouble running abyss-pe, it spits this error a lot of times then exits:
[code]
I compiled the program in the same machine it's running, so I don't get why it's complaining. Any suggestions on how to fix it?

[2017-06-22 16:35] benvvalk commented on #159
My best guess is that ABySS is not finding the Boost library that you installed, and is falling back on the system-wide installation of Boost, which happens to be too old.

I would recommend explicitly specifying the location of Boost at the `configure` step with `./configure --with-boost=<boost_path>`, where `<boost_path>` is the path to unpacked boost source tarball.  ABySS will then look for th

[2017-06-22 16:44] benvvalk commented on #160
I'm not sure, but my suspicion is that you have multiple versions of `gcc` on your machine, and that when you run ABySS it is not able to find the version of `libc` that you originally compiled it with.

You can change the search path for shared libaries at runtime with something like:
[code]

That might help it find the version of `libc`that the ABySS binary needs (i.e. the one it was compiled ag

[2017-06-22 23:11] sjackman commented on #160
Check that you're running the `ABYSS-P` that you compiled, and you don't have another version of it in your `PATH` (possibly compiled by someone else).

Consider installing ABySS using Linuxbrew.
Instructions to Install Linuxbrew are found at http://linuxbrew.sh
Then run…
[code]

[2017-06-22 23:13] sjackman commented on #159
Please enclose copy-and-paste blocks in triple back ticks.
See https://help.github.com/articles/basic-writing-and-formatting-syntax/#quoting-code

[2017-06-22 23:13] sjackman commented on #159
Consider installing ABySS using Linuxbrew.
Instructions to Install Linuxbrew are found at http://linuxbrew.sh
Then run…
[code]

[2017-06-23 06:01] cd-ccmb commented on #159
I have tried ./configure --with-boost=<boost_path> but it didnt work . I will try Linux brew once though I am not sure how to go about it..!

[2017-07-13 17:08] aersoares81 commented on #160
Hi, thank you for the quick reply, and sorry for taking so long to reply! I liked the idea of using Linuxbrew, it doesn't require sudo, which is great on a shared computer.

Anyway, I ran into this problem now:
[code]

[2017-07-13 18:13] sjackman commented on #160
Is that with Linuxbrew? Ensure that the environment variable `LD_LIBRARY_PATH` is not set. Check the warnings produced by `brew doctor`.

[2017-07-13 18:38] aersoares81 commented on #160
Yeah, it's with Linuxbrew. I removed the environment variable LD_LIBRARY_PATH from .bash_profile, but when I (echo $LD_LIBRARY_PATH) I see it's still there somewhere... I'll have to dig and find it (I have no idea where it would be, and I don't have admin privileges in this machine), so thanks for pointing me in the right direction! And for replying so quickly too. :)

[2017-07-13 19:19] benvvalk commented on #160
@aersoares81

FYI, you can run
[code]

to clear the value in your current shell.

[2017-07-17 11:42] aersoares81 commented on #160
Thanks, I tried that but I still got the exact same error message as above.

[2017-07-18 06:59] sjackman commented on #160
`mpirun` sets `LD_LIBRARY_PATH` in a sneaky way. That may be what's going on here. Please report the entire output `abyss-pe`, including the path to the `mpirun` executable that's being used. Are you using `mpirun` installed by Linuxbrew, or that comes with your HPC environment?

[2017-07-19 12:21] aersoares81 commented on #160
I'm using the mpirun installed by Linuxbrew.
The full output is below:

[code]

[2017-07-19 15:59] benvvalk commented on #160
It looks like it is still picking up the wrong version of GLIBC for some reason.

For example, see this post where the person is getting the same error message as you have posted above: https://stackoverflow.com/questions/13668457/vdso-time-missing-from-core-utils

I think mpirun/mpiexec has options for setting environment variables for the job.  You might try using those to change or unset LD_LIB

[2017-07-19 17:03] sjackman commented on #160
The problem comes from an mpi "feature" that I dislike. If you run the executable using the full path like `/home/asoares81/.linuxbrew/bin/mpirun` it helpfully sets the `LD_LIBRARY_PATH` for you. You need to run `mpirun` without specifying the full path, to avoid setting `LD_LIBRARY_PATH`. Try
[code]

[2017-07-25 13:04] aersoares81 commented on #160
Thank you, adding mpirun=mpirun works! Thank you guys for taking the time to reply to my questions, much appreciated. :)

[2017-07-25 13:30] sjackman commented on #160
@benvvalk I think `mpirun=mpirun` should be the default value in `abyss-pe`, because of this issue.

[2017-07-25 13:31] sjackman commented on #160
Happy to help, Andre! 👍

[2017-07-25 13:31] #160 closed

[2017-07-26 13:25] aersoares81 commented on #160
I guess I spoke too soon...
After reading all the reads, it spit the error
[code]
Do you think it could be related or should I open a new thread?

[2017-07-28 23:52] sjackman commented on #160
Please open a new issue and include the complete command line and text output by `abyss-pe` before this error message.

[2017-07-31 12:06] aersoares81 opened #161 "Assembly breaking with "make: *** [birdoutput-1.fa] Error 1""
Hi,
The assembly abruptly stops with the error "make: *** [birdoutput-1.fa] Error 1" for me. Any help is welcome. :)

The command line was
[code]
The full output was:
[code]

[2017-07-31 16:27] benvvalk commented on #161
Hi Andre,

Your `abyss-pe` command looks good.  Unfortunately there is no error message in your log to indicate what the problem might be.  Are you sure that your are capturing both STDOUT and STDERR to the log file?

Also, I recommend adding `v=-v` to your `abyss-pe` command and rerunning the assembly.  `v=-v` enables verbose logging and will provide much more information about what the program w

[2017-08-01 17:30] aersoares81 commented on #161
Hi Ben,
Thank you for letting me know about v=-v, I love verbose/insightful outputs like that.

So, I ran again, the same command, and it kept running this time, to the end! I don't know what caused the error message before, maybe some disk error? Not using nohup? I don't know, I'm running it again now, and will let you know if the error comes up.

Before I close this Issue, I wanted to say that f

[2017-08-01 17:30] #161 closed

[2017-08-01 17:43] benvvalk commented on #161
@aersoares81:

Glad to hear you were able to run a successful assembly :-)

And thanks for the compliment, too! You just made my day.

[2017-08-03 13:29] aersoares81 commented on #136
A follow up to this question: Can/should we use more than one library?

[2017-08-03 16:12] benvvalk commented on #136
Hi Andre,

I would say yes, you should use all the libraries.  It will improve your sequencing coverage and could close gaps in the de Bruijn graph.  Since Sealer doesn't use the pairing information or fragment sizes, it doesn't matter if you mix all the paired-end data together in a single run. (That is how we usually run Sealer.)

I would like to note here that Sealer has a known issue with stal

[2017-08-04 17:28] aersoares81 commented on #136
Hi, thanks! I guess I should cat all the fastq files into a single one then, I didn't see anything in the docs saying it's ok to add more than 2 files to the command line.

Thanks for the heads up!

[2017-08-04 17:33] benvvalk commented on #136
Yes, Sealer does support an arbitrary number of FASTA/FASTQ arguments, so you don't need to concat them beforehand.  Just include all the files as arguments (in any order).

[2017-08-04 18:08] sjackman commented on #136
[code]

The ellipsis `...` indicates that you may include multiple files. It's a convention, but if you're not familiar with it, I can see that it wouldn't be clear.

[2017-08-04 21:58] aersoares81 commented on #136
Thank you guys, I totally missed out the ellipsis and its meaning. 😳

[2017-08-04 22:05] sjackman commented on #136
No worries at all. Happy to help.

[2017-08-10 07:58] nortex commented on #64
Hi, I have the same error but adding the flags doesn't solve the problem... What can i do? i tried to build 1.5.2 and 1.3.7 versions of abyss and both give same error on compilation of abyss

[2017-08-10 15:53] sjackman commented on #64
Are you able to use ABySS 2.0.2, or is this for use with Trans-ABySS?

[2017-08-13 05:18] nortex commented on #64
I tried the ABySS 2.0.2 version too, always get this error. I am using Intel compilers.

[2017-08-13 06:24] nortex commented on #64
When trying to install ABySS version 2.0.2 with Boost 1.63 i get this error:

`../Assembly/BranchGroup.h(214): error: no instance of overloaded function "std::swap" matches the specified type
        inline void swap(BranchGroup&, BranchGroup&) { assert(false); }
                    ^

compilation aborted for abyss.cc (code 2)
make[2]: *** [ABYSS-abyss.o] Error 2`

Any ideas what is that "std::swa

[2017-08-13 16:50] sjackman commented on #64
We can look into the error. Would you consider using `gcc` rather than the Intel Compiler?
You may also wish to try installing ABySS using Linuxbrew https://linuxbrew.sh
[code]

[2017-08-14 16:15] benvvalk commented on #64
I believe we still have an active license for the Intel Compiler at the GSC.  I'll see if I can fix this.

[2017-08-14 23:38] dmonism opened #162 "Problem compiling with boost 1.64.0"
For Boost 1.64.0, compilation requires adding the line to the cholesky.hpp file in Common.  The following #include needs to be added before all others in the file.

[code]

I recommend using a #if to check the BOOST_VERSION number.  I'm not sure how far back this issue goes with boost.

[2017-08-14 23:50] benvvalk commented on #162
Thanks for the report (and workaround)!

If you still have it, can you post the compile error(s) that result?

[2017-08-15 00:09] benvvalk commented on #162
@dmonism

Also, which file did you add the `array_wrapper.hpp` header to?

[2017-08-15 00:11] sjackman commented on #162
[code]

[2017-08-15 00:12] benvvalk commented on #162
Oops, its right in the post (`cholesky.hpp`).  Thanks, @sjackman.

[2017-08-15 03:19] dmonism commented on #162
See below for the error, which occurred near the end of the compilation steps.

...
g++ -DHAVE_CONFIG_H -I. -I..  -I.. -I../Common -I/opt/sources/abyss -isystem/opt/boost/1.64.0/gnu -isystem/opt/boost/1.64.0/gnu/include -isystem/opt/openmpi-2.0/gcc/include -I/opt/sqlite/3.20.0/gnu/include -isystem/opt/sparsehash/2.0.3/gnu/include -I/opt/sparsehash/2.0.3/gnu/include -I/opt/sqlite/3.20.0/gnu/include

[2017-08-15 15:45] sjackman commented on #162
Please enclose copy-and-paste blocks in triple back ticks.
See https://help.github.com/articles/basic-writing-and-formatting-syntax/#quoting-code

[2017-08-15 15:46] sjackman commented on #162
@benvvalk We don't use serialization. Another option is to delete that code or enclose it in `#if 0 … #endif`

[2017-08-15 15:53] benvvalk commented on #162
Thanks @dmonism @sjackman

[2017-08-21 20:51] #162 closed

[2017-08-22 03:16] sjackman commented on #162
Thanks, @dmonism and Ben!

[2017-08-25 18:47] benvvalk opened #163 "abyss-todot: output graph missing symmetric edges"
For visualization purposes, it would be helpful if `abyss-todot` always generated both orientations of an edge.

However, when running:
[code]
the output graph does not always contain both orientations of an edge.  For example
[code]
might be present, but not
[code]

This is likely due to the asymmetric nature of the `s` (contig seed size) parameter.

Adding a command-line switch and/or a call to

[2017-08-25 18:53] sjackman commented on #163
I recently needed this feature as well, so your wish is my command! =)
https://github.com/bcgsc/abyss/blob/master/Graph/todot.cc#L84
[code]

[2017-08-25 18:53] #163 closed

[2017-08-25 18:57] benvvalk commented on #163
Nice! Thank you, @sjackman!

(Lauren who ran into this today, but I'm sure I will find it useful as well.)

[2017-08-29 19:03] calchoo commented on #137
Hi guys, we recently got this error in 3 more genome analysis runs. Do you guys have some time to look at this again?

[2017-08-29 19:43] benvvalk commented on #137
I won't be able to spend a lot of time on it, but I can take another stab at least.  To be honest, I'm not very optimistic because I'm not familiar with this particular code or with FM indices in general.

I would need an example command that crashes and access to the input files in order to debug it  (like Emre provided before).  You can send that info in a private e-mail if the data is sensitive

[2017-08-30 01:30] emreerhan commented on #137
@calchoo, try using pavfinder

[2017-09-01 23:31] sjackman opened #164 "Stop when a library is mixed FR and RF orientation"
When a library is mixed FR and RF orientation, ABySS currently chooses whichever orientation is dominant and plows ahead. Nextera mate-pair libraries can have more FR content than RF content. See below for an example, which has 58% FR. Quietly choosing FR for the library orientation in this case is wrong in this case. It does output the message `The library mp1-6.hist is oriented forward-reverse (

[2017-09-01 23:32] sjackman commented on #164
Here's an example data set and assembly:
https://github.com/sjackman/abyss-dmelanogaster

[code]

[2017-09-05 21:40] sjackman commented on #164
If the library is RF (>98% RF) it should quietly go ahead with RF.

@jaredo (author of NxTrim) suggested that >95% RF may be a better value.
https://github.com/sequencing/NxTrim/issues/50#issuecomment-327263192

[2017-09-06 16:34] benvvalk commented on #164
Thank for troubleshooting this @sjackman and I agree with your recommendation to add a warning. (I'll add it to my TODO list).

[2017-09-06 16:37] sjackman commented on #164
ABySS should print the orientation of the detected library whether or not `-v` is specified. These two lines:
[code]
If the selected orientation is <95% it should print a warning. If it's less than some threshold, I think it should be a hard error, suggesting that they run `NxTrim` or specify the desired orientation using `--rf` or `--fr`.

[2017-09-06 16:39] benvvalk commented on #164
Noted and sounds good to me.

[2017-09-06 16:49] sjackman commented on #164
Thoughts on what that threshold should be? A paired-end library should have <1% RF orientation. A mate-pair library can have ~50% RF orientation, and after NxTrim can have ~1% to ~5%. I'm thinking if the RF content is in the range of…

- 0 to 2%, good it's FR oriented
- 2% to 50%, print an error suggesting NxTrim `nxtrim --justmp --rf`, and exit
- 50% to 95%, print a warning suggesting NxTrim `nxt

[2017-09-06 17:01] benvvalk commented on #164
@sjackman Seems pretty reasonable to me.

[2017-09-08 20:31] benvvalk commented on #137
@calchoo: I looked at this a bit yesterday but I will need more time.  I will allocate some more time for it next week.

I was indeed able to able to reproduce the crash using the files you provided me by e-mail.  Also, I did some background reading about FM indices which should help.

I'll let you know if I make any progress.

[2017-09-08 23:10] sjackman commented on #137
Shot in the dark here, but here goes nothing. `abyss-overlap` may be asserting that every overlap is a strict overlap, whereas in this FASTA file one sequence is a prefix of another sequence. So not a dovetail overlap as expected, but contained within another sequence at the very start of it.

[2017-09-08 23:38] benvvalk commented on #137
Thank you, @sjackman. I will try logging out the offending sequences and see if it something like that.

[2017-09-25 06:47] sjackman opened #165 "error: unused typedef 'boost_concept_check30'"
Fails to build on TravisCI macOS with boost 1.56.0
[code]
https://travis-ci.org/bcgsc/abyss/jobs/279391532#L972

[2017-09-27 19:48] zkamvar opened #166 "abyss 2.0.2 doesn't build all programs"
Hello,

I'm trying to install ABySS on a SLURM cluster and I'm having some trouble compiling all the programs.

When I build abyss, I get the following programs in the `bin/` directory:

[code]

And it works fine until ABySS gets to the AdjList step, then it glorks and thus, I have a problem. I was hoping someone on this project can help figure out where I went so wrong.

When I look at the err lo

[2017-09-27 21:46] sjackman commented on #166
Hi, Zhian. Ben (@benvvalk) will help you troubleshoot the build error. It looks like it may be an incompatible version of `boost`. Try…
[code]

I'd recommend using Linuxbrew to install ABySS, which handles installing dependencies like `boost` for you. See http://linuxbrew.sh
[code]

[2017-09-27 22:12] zkamvar commented on #166
Thanks for the quick response, @sjackman.

It turns out that this was a PBKC error. I didn't read the requirements for boost 🤦‍♂️

Since my SLURM cluster uses modules, I was able to build it (seemingly) correctly using

[code]

One more question: is there a make command or test data set that validates the installation?

[2017-09-27 22:12] #166 closed

[2017-09-27 22:16] benvvalk commented on #166
Ha, PBKC :-) That's a new one for me.

Thanks for reporting back that you solved the problem.

To run the ABySS automated unit tests, you can do `make check`.

[2017-09-27 22:16] sjackman commented on #166
http://www.urbandictionary.com/define.php?term=PBKC 😂

@benvvalk `./configure` could give a better error message when the user's version of Boost is too old.

Unit tests `make check`
Sample data
http://www.bcgsc.ca/platform/bioinfo/software/abyss/releases/1.3.4/test-data.tar.gz

[2017-09-27 22:18] benvvalk commented on #166
Ah yes, I forgot about that small test data set too.  Thanks @sjackman.

[2017-09-27 22:25] zkamvar commented on #166
🎉 🎉 🎉

[code]

[2017-09-27 22:27] benvvalk opened #167 "configure: test boost version and print error if version too old"

[2017-09-28 17:15] benvvalk opened #169 "`abyss-longseqdist` can get stuck in infinite loop"
`abyss-longseqdist` can gets stuck in an infinite loop if all reads of the input SAM file are unmapped or have MAPQ == 0.

This loop at longseqdist:123 needs to check for `in.eof()`:
[code]

[2017-09-28 17:31] sjackman commented on #169
The I/O operation should be inside the loop.
[code]
I haven't looked at the code, but better is to flip the loop logic…
[code]

[2017-09-28 18:50] benvvalk commented on #169
Thank you, @sjackman.

[2017-09-30 01:53] benvvalk commented on #137
@calchoo I'm sorry, it does not look like I will be able to fix this.

I spent yesterday afternoon and all day today debugging it, and although I understand the code much better, the root cause of the problem is still not clear.  I also got some help from @sjackman (the original author) for a couple of hours, but unfortunately we were not able to solve it.

I may try a few more things next week, b

[2017-10-12 09:00] jos4uke commented on #135
Hi,
just a remark about ABySS parallelization when run on a single machine. To be able to run all steps in multithreaded mode, one needs to set **np** and **j** options to the same value on `abyss-pe` command.
I made the mistake once believing **j** value would be set to the value of **np**, but it is not done automatically.
- If one set only **np** value (>1), **j** value sticks to the default va

[2017-10-12 15:53] benvvalk commented on #135
Hi @jos4uke,

Fair point and thank you.

For single node jobs I completely agree -- `j` should ideally make equal to `np` (unless otherwise specified by the user).  However, for multinode MPI jobs this would result in surprising and undesired behaviour, because the multithreaded programs only run on a single machine, whereas the MPI process (`ABYSS-P`) can make use of the cores on all of the machi

[2017-10-12 17:52] sjackman commented on #135
Hi, Joseph. Are you running ABySS within a scheduler, like SGE or SLURM? Outside of a scheduler, the value of `j` defaults to the value of `np`. See
https://github.com/bcgsc/abyss/blob/master/bin/abyss-pe#L138
If the environment variable `PE_HOSTFILE` is defined by your scheduler, it uses the number of slots available on the first machine allocated to the job, which could potentially be 1.
See htt

[2017-10-12 18:35] benvvalk commented on #135
Thanks, @sjackman!

[2017-10-12 19:04] jos4uke commented on #135
Hi @benvvalk
you are right, having an openmpi environment have big advantages to run very intensive assembly jobs and particularly with ABySS taking full advantage of it.
I surely have to check for my assembly if something went wrong because of mpi jobs ran on my single node machine.
As far as I can see, from the log I got this kind of warnings about OMP variables:

If I echo'ed these variables fr

[2017-10-12 19:44] benvvalk commented on #135
@jos4uke Good! Glad to hear it is working correctly now.

[2017-10-31 06:33] chirrie opened #170 "How does Abyss determine insert size and read length if not provided"
I have done assembly of paired end reads sequences using latest Abyss.
This are the parameters I used.

[code]

The assembly looks good but I am wondering how does Abyss estimate the insert size and maximum read length... For soapdenovo you supply it as config file but for Abyss I haven't seen that option.

[2017-10-31 16:01] benvvalk commented on #170
Hi @chirrie,

ABySS estimates the fragment size by mapping the paired-end reads to the unitig assembly and measuring the distance between read pairs that align to the same unitig.

The maximum read length is not required by any of the ABySS assembly algorithms.  If you set k-mer size greater than the read length that will create problems, of course.

[2017-10-31 16:26] #170 closed

[2017-11-14 19:24] sjackman opened #171 "Default number of buckets"
Regarding commit 6b580d301287e6e532737dcbd32bdff37191cc82 that increases the default number of buckets. How many cores/threads-of-execution does each compute node of the Numbers cluster have, and how much memory is available per node? The previous commit had the following comment. I'd like to repeat this calculation for Numbers.

96-mers fit into 2 GB of ram, which results in a hash load
of 0.216,

[2017-11-14 19:30] sjackman opened #172 "Release ABySS 2.0.3"
I'd like to tag a point release of ABySS to address a bug in `abyss-samtobreak` reported here https://github.com/bcgsc/abyss-2.0-giab/issues/2

I'm some one or two other `abyss-samtobreak` not-yet-implemented features that I'd like to get into this release, namely a TSV output format.

[2017-11-14 21:10] sjackman opened #173 "error: 'quick_erase' is deprecated"
[code]

[2017-11-14 21:14] sjackman commented on #173
Add deprecated attributes to quick_erase and erase_return_void. I really will remove them in a future version this time.

http://www.boost.org/doc/libs/1_65_0/doc/html/unordered/changes.html#unordered.changes.boost_1_65_0

[2017-11-14 21:16] sjackman commented on #173
The container now meets C++11's complexity requirements, but to do so uses a little more memory. This means that quick_erase and erase_return_void are no longer required, they'll be removed in a future version.

http://www.boost.org/doc/libs/1_65_0/doc/html/unordered/changes.html#unordered.changes.boost_1_48_0

[2017-11-14 21:17] benvvalk commented on #171
Re: our discussion just now, I think we should also aim to do the human assembly from the ABySS 2.0 paper with 64 threads, without triggering hash table resizes.

As you mentioned, the new value set in 6b580d3 entails a minimum RAM usage of 0.5 GB per MPI process, which was possibly overkill on my part.

[2017-11-14 21:19] #173 closed

[2017-11-14 21:25] benvvalk commented on #172
Sure. I've been wanting to make 2.0.3 release for quite some time now.

For 2.0.3, the main change would be some important bug fixes to `abyss-bloom-dbg`, which have already been tested.

Beyond that, my only TODOs are settling on the new default sparsehash size value (#171) and fixing the outstanding compiler errors.

[2017-11-14 21:32] benvvalk commented on #173
Okay, noted.  I've got a few compiler errors to fix for the 2.0.3 release.  I'll add this one to the list.

[2017-11-14 21:33] benvvalk commented on #173
Oops, you've already closed it  :-)

[2017-11-15 22:23] sjackman commented on #171
The default `max_load_factor` is 80%.
https://github.com/sparsehash/sparsehash/blob/master/src/sparsehash/internal/sparsehashtable.h#L357

The GIAB HG004 dataset has 8,704,901,295 distinct 144-mers.
/projects/btl/abyss-2.0-paper/sjackman/abyss/k144/coverage.hist

8,704,901,295 / 64 = 136,014,083
The previous value of 200,000,000 is sufficient for this use case.

No hash table resizes occurred with

[2017-11-15 22:25] sjackman commented on #171
The current value of 200,000,000 would be good for up to 214,748,364 distinct k-mers per node (268435456 * 0.8), or 60% more than we saw in this data set.

[2017-11-15 22:28] sjackman commented on #171
Using fewer threads than 64 (say 32) would require increasing the number of buckets.

[2017-11-15 22:35] benvvalk commented on #171
@sjackman:  Thanks, for doing this!

I'm not 100% sure, but I think it was the ABySS assembly of the raw reads (i.e. not BFC correctly) that required 128 threads to avoid hash table resizing.  I'll take a second now and go look at the stats for the raw reads assembly.

[2017-11-15 22:40] benvvalk commented on #171
From raw reads assembly:
[code]
20,317,980,431 / 64 = 317,468,444

[2017-11-15 22:42] benvvalk commented on #171
So, you were right -- increasing the bucket size by a factor of 10 from 200,000,000 to 2,000,000,000 was a bit overboard.

Want to meet half way and set it to 1,000,000,000?

That would still allow the raw Chromium assembly to run without resizes.

[2017-11-15 23:04] sjackman commented on #171
Sounds good, Ben.
20,317,980,431 / 32 = 634,936,889
Asking for one million buckets will get you 2^30 = 1,073,741,824 buckets
1073741824 * 2.67 / 8 = 0.358 GB of memory for buckets
634,936,889 / 1,073,741,824 = 59% load factor

[2017-11-22 18:03] mbargull commented on #159
@cd-ccmb for `1.5.2` you'll need to use `--with-boost=<boost_path>/include`. For later versions `--with-boost=<boost_path>` is fine.

[2017-11-25 02:02] qslin opened #175 "abyss-map: missing arguments"
I got the following errors when I ran ABySS/2.0.2:

[code]

My script is:

[code]

How to deal with this problem? Thanks!

[2017-11-25 02:21] sjackman commented on #175
Please enclose copy-and-paste blocks in triple back ticks.
See https://help.github.com/articles/basic-writing-and-formatting-syntax/#quoting-code

[2017-11-25 02:23] sjackman commented on #175
Can you post the `abyss-map` command from your log file before the `abyss-map: missing arguments` error message?

[2017-11-25 02:57] qslin commented on #175
The following is from the out file:
`Concatenating fasta files to ABySS2_assembly_PBt1-1.fa
Concatenating fasta files to ABySS2_assembly_PBt1-bubbles.fa
Done.
AdjList    -k63 -m50 --dot ABySS2_assembly_PBt1-1.fa >ABySS2_assembly_PBt1-1.dot
abyss-filtergraph  --dot   -k63 -g ABySS2_assembly_PBt1-2.dot1 ABySS2_assembly_PBt1-1.dot ABySS2_assembly_PBt1-1.fa >ABySS2_assembly_PBt1-1.path
MergeContigs

[2017-11-25 03:00] qslin commented on #175
The following is from the err file:
[code]

[2017-11-25 04:16] sjackman commented on #175
You need a space before the backslash.
[code]
should be
[code]
Note that the partial assembly that you have didn't use the reads in library `pe1`. You should delete it and start fresh.

[2017-11-25 04:16] #175 closed

[2017-11-27 17:26] benvvalk commented on #175
Thank you, Shaun!

[2017-12-08 18:23] #171 closed

[2017-12-18 18:20] #165 closed

[2017-12-18 18:31] benvvalk commented on #148
Closing this issue because it seems to be due to job setup / cluster configuration, rather than ABySS itself.

[2017-12-18 18:31] #148 closed

[2017-12-18 21:00] benvvalk commented on #156
fixed by abyss-dev/ca8f5246

[2017-12-18 21:00] #156 closed

[2017-12-18 21:07] #133 closed

[2017-12-18 21:11] benvvalk commented on #131
fixed by 184b2918 and 0cf8ed729

[2017-12-18 21:11] #131 closed

[2017-12-18 21:15] benvvalk commented on #128
Cloning this issue because it is probably related to system configuration, rather than a problem with the software.

[2017-12-18 21:15] #128 closed

[2017-12-18 21:20] benvvalk commented on #125
Closing this issue due to staleness.   It was probably related to the old version of gcc being used (4.3.4).  We generally don't test with any gcc older than 4.4.

[2017-12-18 21:20] #125 closed

[2017-12-18 21:22] benvvalk commented on #94
Closing this issue due to staleness.

[2017-12-18 21:22] #94 closed

[2017-12-23 22:42] antonkulaga opened #176 "bcgsc/abyss:latest docker container is broken when running bloom filters"
Whenever I run anything with bloom-filters and bcgsc/abyss:latest I get the following error:
[code]
Probably, you forgot to put libgomp.so in the official docker container.
An example of the command that crashes with such message:
[code]

[2017-12-24 00:46] #176 closed

[2017-12-24 00:47] sjackman commented on #176
Thanks for the bug report, Anton! It's hopefully fixed now.

[2017-12-24 15:39] antonkulaga opened #177 "/usr/local/bin/abyss-tabtomd: 12: /usr/local/bin/abyss-tabtomd: column: not found"
The test data assembly fails with "/usr/local/bin/abyss-tabtomd: 12: /usr/local/bin/abyss-tabtomd: column: not found" error.
I use the latest official docker container (BTW, thank you for fixing dependency bug so fast!).
The command is the same:
[code]
I also tried without bloom filters but it crashed in a same way.

Here is the full stderr:
[code]
I suspect that column is a part of bsdmainutils,

[2017-12-24 15:44] antonkulaga commented on #176
thank you @sjackman , I was amazed how fast you reacted.
So, it looks fixed, but now I have a problem with column https://github.com/bcgsc/abyss/issues/177

[2017-12-30 20:00] sjackman commented on #177
Thanks again for the bug report, Anton. It should be fixed now.

[2017-12-30 20:00] #177 closed

[2018-01-06 21:37] ckeeling opened #178 "abyss/Sealer (stand-alone) README.md"
May I suggest a couple of edits to this readme?

(1) The **Options** section does not reflect the current version. I.e. it is not the same as is currently shown with --help.  Specifically, description of the "-G" option is missing.  And similarity, the depreciated "-F" option rather than "-G" is described in **Runtime and memory usage**.

(2) The **Description**/**Suggested parameters for first ru

[2018-01-06 21:57] sjackman commented on #178
Sealer should be run with multiple values of *k*. It's just a single run of Sealer though. You can specify *k* multiple times in a single run. e.g. `abyss-sealer -k25 -k50 -k75 -k100 -k150 -k200 -k250`. If using pre-built Bloom filters, they can be specified using the `-i` option multiple times. A couple of examples would help clarify its usage.

[2018-01-10 09:50] lsterck commented on #117
Hi Ben, Shaun,

apologies for taking so long to get back on this topic (have been seriously side-tracked past year :-/ ). Anyway I have a couple of remaining questions concerning this topic here.
The use of these targets indeed seems to work smoothly (from a technical point then). I had the opportunity to compare a run using these targets and one with the targets and they do largely end up in the

[2018-01-10 16:01] sjackman commented on #117
Restarting the assembly shouldn't be the cause of the difference. I'd suspect something else. Did the installed version of ABySS change between the two runs? Did the number MPI parameters `np` change? Please report the exact command line used in both cases.

[2018-01-10 17:57] benvvalk commented on #117
Thanks @sjackman.

@lsterck Yes, we do work pretty hard to maintain reproducible output in ABySS, but perfection is hard to achieve (especially in the context of multi-threaded programs).

Have you tried a duplicate run for either of your two assembly methods? Or is it too expensive/time-consuming to re-run the assembly?  It would be very helpful to know if the variability happens between duplicat

[2018-01-10 23:04] lsterck commented on #117
thanks for the swift reply both.

@sjackman :
I checked and indeed, the k80 was run on 40 cores and the k80_2 on 50 . That might indeed explain the minor difference. thx and apologies for not spotting this.
@benvvalk :
OK, yes that might learn us something, I'll keep that in mind but first will have to see if I can spare the resources/time for it.
That I can do, I started the analysis and will pos

[2018-01-10 23:13] sjackman commented on #117
The number of MPI processes is known to affect the bubble popping stage of ABYSS-P in minor ways. That likely accounts for the difference.

[2018-01-10 23:16] sjackman commented on #117
I commented at https://www.biostars.org/p/185516/

[2018-01-11 21:15] lsterck commented on #117
@benvvalk
here are the abyss-fac stats for the -1 -2 -3 . fa files .
[code]
as far as I can see the 'difference' appears between -2 and -3 which would then coincide with shaun's answer that it's likely the bubble popping stage, no?

[2018-01-11 23:26] sjackman commented on #117
I meant the bubble popping stage of `ABYSS-P` in the 1st stage. But yeah, it looks like `PopBubbles` may have the same issue. If you want to test it, I'd be curious to know if PopBubbles produces the same results from run to run with the same parameters, or if you change the number of threads with `-j`.

[2018-01-21 12:38] mspiffy commented on #130
Hi Ben, I'm getting the same errors with boost::graph using boost/current in abyss 1.5.2. A work-around of linking against Boost 1.5.0 and 1.5.5 (both tried) did not resolve.

[2018-01-21 21:25] mspiffy commented on #159
Hi Ben, tried linking 1.5.2 against Boost 1.5.0 and 1.5.5 while checking the generated include paths and overriding system-wide 1.6x on Debian 9; it still excepts as cd-ccmb initially reported in this issue. The current ABySS builds no issues.

Just tried to roll back the graph change to add diameter in [filtered_graph](https://github.com/boostorg/graph/commit/50bfd8dad0ded59e3335d7f577549c968b371

[2018-01-21 22:06] lsterck opened #179 "ABySS 2.0.2 crashed with BubbleAlgorithm error"
Hi,

recently I updated my local abyss installation to the newest release (2.0.2) , The first run I did with this version failed however with the following error message

This is what's written at the end of my run-output file:

Any idea what the problem might be? Is it abyss related or something to do with our cluster system?
thx

[2018-01-22 02:09] antonkulaga opened #180 "problems with de novo assembly of a whale"
I have a problem with my de novo assembly of whales. When I apply ABBYSS on my data I get very small ( 121268 ) scaffolds file with 0 busco score. In the same time I get more or less normal results with latest CLC assembler (size 3 012 192). I suspect that I either use wrong parameters or it is a bug.
Here are the input files ( http://agingkills.westeurope.cloudapp.azure.com/pipelines/cromwell_1/c

[2018-01-22 02:50] sjackman commented on #179
It failed while writing the bubbles FASTA file to disk. It may mean that your disk full. The error message could be improved.

[2018-01-22 02:53] sjackman commented on #180
What's the estimated depth of coverage in your paired-end reads? What's the read length, how many reads do you have, and what's your estimated genome size?

[2018-01-22 02:54] sjackman commented on #159
@benvvalk Would it be worth doing a point release of 1.5.x to build with a current version of Boost?

[2018-01-22 07:52] lsterck commented on #179
Hi Shaun,
thanks for confirming my suspicion it's a writing problem. It however can not be due to diskspace issues, I have over 1 Tb of space left. I rather suspect some network issues causing the storage to be inaccessible .

L.

[2018-01-22 07:52] #179 closed

[2018-01-22 11:31] schloegl commented on #159
This patch fixed the compilation problem on debian9 for me
`
diff --git a/include/boost/graph/reverse_graph.hpp b/include/boost/graph/reverse_graph.hpp
index 24eb1c7c..56ffe72d 100644
--- a/include/boost/graph/reverse_graph.hpp
+++ b/include/boost/graph/reverse_graph.hpp
@@ -322,6 +322,13 @@ target(const detail::reverse_graph_edge_descriptor<Edge>& e, const reverse_graph
     return source(e.under

[2018-01-22 17:47] benvvalk commented on #179
Thank you, @sjackman!

[2018-01-22 18:55] benvvalk commented on #159
@mspiffy Thanks for your patience and your generous offer to pitch in with the work!  I will raise the issue of the outdated Trans-ABySS at our next lab meeting and see if we can get someone working on it.

@schloegl Thanks very much for your patch! It very helpful  to know exactly which differences between boost versions are causing the issues.

[2018-01-28 09:45] lsterck opened #181 "lapsus in abyss runtime output?"
Hi,

I was going through the runtime output of abyss and stumbled on this phrase:
"Minimum k-mer coverage is 380"
here is the context:
[code]

If I interpret this correctly it tries to find the coverage threshold to use and the table seems to indicate it's starting from the max coverage and then goes down?
What exactly does this mean, and is this possible it should read "Maximum K-mer coverage" ?

[2018-01-28 16:47] sjackman commented on #181
This k-mer coverage profile atypical, unless it's for transcriptome, metagenomics, or some other non-uniform sequence depth protocol. "Minimum k-mer coverage" is the first local minima of the k-mer coverage histogram. Starting from there, it sets the k-mer coverage threshold to the square root of the median k-mer coverage above the previous threshold, and iterates.

[2018-01-28 16:47] #181 closed

[2018-01-28 21:31] lsterck commented on #181
Hi Shaun,

thanks for the reply and apologies for thinking you might have overlooked this :-).
however your answer also worries me a little, but perhaps I'd better bring this up in BioStar?

[2018-01-28 22:14] lsterck commented on #181
Hi Shaun,

sorry but I don't really get this I'm afraid :-/ , what exactly do you mean with "first local minima' ? If I look at the coverage.hist file of this run I can find lower local minima than the one reported.
Also: why is this an atypical profile? I'm doing a (large and highly repetitive) plant genome. From doing some trial runs I noticed that this value changes with the k-mer I'm using. Up

[2018-01-29 01:54] sjackman commented on #181
In the *k*-mer coverage profile, 380 should be the first local minimum. If not, something has gone awry. You could gist your `coverage.hist` file if you like, and I'll take a look at it. What ploidy is your genome?

[NtCard](https://github.com/bcgsc/ntcard) is a useful tool for calculating the *k*-mer coverage profiles for many values of *k* very quickly. You can feed its output to [GenomeScope](h

[2018-01-29 08:41] lsterck commented on #181
OK, ;-)

So how do you define a 'local minimum' then ?
Sweet, I'll do that .
[https://gist.github.com/lsterck/199ca284c225df75b45a08bef3aee414](https://gist.github.com/lsterck/199ca284c225df75b45a08bef3aee414)
It should a be a normal diploid organism (even mainly the same haplotype) .

Yes, also benv has pointed me to those tools. I will have a look at them.

[2018-01-29 21:00] lsterck commented on #181
Hi Shaun,

sorry to put you through xtra work (and revisiting old code) :-)
yes, I figured that you would apply some smoothing, and i totally agree that's the right thing to do!
However, I must admit you kinda lost me in your reasoning on the c value. Given the smoothing i do suspect the first minima is indeed around 380 or so (== what's reported in the abyss run).

in the meanwhile I went to work

[2018-01-29 21:16] sjackman commented on #181
Here's an example of the last GenomeScope plot that I did for a 10 GB plant: http://qb.cshl.edu/genomescope/analysis.php?code=Tt3dme47ZFnwHPqVkqqT

What you want to see is pretty good separation of the good bump and the sequencing error bump.

Which tool did you use to merge the paired-end reads? For the purpose of plotting *k*-mer coverage profiles, I'd suggest using the raw reads before merging

[2018-01-29 22:18] lsterck commented on #181
I see, that one indeed seems 'normal'
I used BBmerge  .Do you then mean 'cleaned/trimmed' but not merged or not even cleaned?

Ah, ok, so I can set diff k-mer for genomescope as for assembly? What does abyss use to do this coverage evaluation? is it the one I set to do assembly with (-k option) ?

yes and no :-) , the species itself is most likely quite heterozygous, but the DNA should (for the bi

[2018-01-29 22:29] sjackman commented on #181
Yes, for the purpose of estimating genome size, heterozygosity, and repeat content of your genome.

Yes, ABySS uses the *k*-mer profile of the assembly *k*.

Oh, neat. I was looking for an explanation for why the error hump is so fat. It could be the other rejected haplotype bleeding through. I'm curious; what technique was used to enrich for one haplotype?

What's your estimated sequencing depth?

[2018-01-29 22:37] lsterck commented on #181
Might indeed be to some extent. Ah, that's wetlab stuff : from waht I understand the DNA was extracted from callus tissue from a single gametophyte (or something liek that :-) ) . So it's not really 'enriched', there is only one present.

To be honest, I did not exactly count that :-/ , I have roughly 10Tbase of data, so I estimate around 30-40x

[2018-01-29 22:50] sjackman commented on #181
Did you mean 1 Tbase of data? 30–40 fold coverage is a bit on the low side for assembly of a diploid organism. You may be able to get away with lower coverage since you have haploid tissue. I usually recommend 50x to 100x for assembly of a diploid genome. 30–40 fold coverage is enough to get an assembly, but sequencing coverage gaps may limit contiguity.

[2018-01-29 22:51] sjackman commented on #181
Trimmed for adapters is fine, though I didn't notice that it made much difference to Genomescope. I usually don't trip for quality values.

[2018-01-29 23:18] lsterck commented on #181
oeps, yes indeed, 1Tbase ;-)
yes, I was always suspecting it was on the low end unfortunately but I also put my hope in the haploid tissue 'advantage'
I looked up the counts on my raw reads which add up to ~2Tbase of seq (but uncleaned).

[2018-01-29 23:34] sjackman commented on #181
2 Tbase of raw coverage of a 25 Gbp genome is 80 fold coverage, which is just fine, particularly for haploid tissue.

[2018-01-29 23:53] lsterck commented on #181
thanks for reassuring me (and getting my hopes up :-) )

To get back to the beginning of this thread. Do you think there is now something off in the run I'm doing now (using k-mer of 85)? Should I be concerned about this 'high' minimum k-mer coverage ?

Also : if I can change the k-mer for genomescope and assembly, what can I then learn from that output (k-mer wise that is then) ?

Will I be bette

[2018-01-30 00:27] sjackman commented on #181
Yes, I do think something is off with the data. Figuring out exactly what that is may not be easy, or even possible, and learning what the root issue may or may not help you get a better assembly.

Yes, it may not produce a very contiguous assembly.

I suggest looking at the ntCard profile, and see if any value of *k* gives a typical-looking curve.

A different value of *k* for GenomeScope may be

[2018-02-01 14:24] GideonPisanty opened #182 "Could not assemble"
I have given a command to assemble 40 libraries with the program. The first two libraries went well, each took 5-10 min to complete. In the third library, it got stuck for hours and eventually gave the error "CRITICAL - Could not assemble". I started all over again and it got stuck on the same library. Do you have any hints how to solve this? Thanks.

[2018-02-01 17:09] benvvalk commented on #182
I could not find the word "CRITICAL" in any of the ABySS source code (to determine where the error message is coming from).

Can you please provide your `abyss-pe` command and your log output (preferably after adding `v=-v` to your `abyss-pe` command to enable verbose logging)?

[2018-02-01 17:43] sjackman commented on #182
Are you sure that you have forty libraries of the same sample, or perhaps you have one library each from forty different samples, or forty lanes (!) of one library?

[2018-02-01 17:43] GideonPisanty commented on #182
Thanks for the answer. I was running Abyss through the PHYLUCE script. Here is the command and the log files:

**command**
phyluce_assembly_assemblo_abyss \
    --config /home/pisantyg/MiSeq_19Jan2018/config/config.conf \
    --output /home/pisantyg/MiSeq_19Jan2018/abyss_output \
    --kmer 60 \
    --subfolder split-adapter-quality-trimmed \
    --cores 10 \
    --clean \
    --log-path /home/pis

[2018-02-01 17:44] sjackman commented on #182
Please enclose copy-and-paste blocks in triple back ticks.
See https://help.github.com/articles/basic-writing-and-formatting-syntax/#quoting-code

[2018-02-01 17:46] sjackman commented on #182
Add `-v` (verbose) to the command line to enable verbose output:
[code]

[2018-02-01 17:46] GideonPisanty commented on #182
Thanks for the feedback. It's one library each from forty different samples

[2018-02-01 20:21] GideonPisanty commented on #182
Here's the output with the new command. Again, the program is stuck on the singleton file.

'''
 v=-v ABYSS -k60 -q3 --coverage-hist=coverage.hist -s out_k60-bubbles.fa -o out_k60-1.fa /home/pisantyg/share/Miseq_run_TE08_Jan_19_2018/uce-clean/alleghaniensis/split-adapter-quality-trimmed/alleghaniensis-READ1.fastq.gz /home/pisantyg/share/Miseq_run_TE08_Jan_19_2018/uce-clean/alleghaniensis/split-ada

[2018-02-01 20:35] sjackman commented on #182
Try this…
[code]

[2018-02-02 14:57] GideonPisanty commented on #182
Thanks. I tried it, here's the output:

[code]

[2018-02-02 19:56] sjackman commented on #182
How many reads are in the file `alleghaniensis-READ-singleton.fastq.gz`?

[2018-02-02 20:00] GideonPisanty commented on #182
I don't know how to check this. The file is 32 MB, I have much larger ones from other libraries...

[2018-02-02 20:14] sjackman commented on #182
[code]
to report the number of lines, and then divide by 4.
Please also report the output of…
[code]

[2018-02-02 23:09] mmokrejs commented on #143
Doh, and update the Dependencies in README.md.

Could one use other, more sensitive mapper for this task? Or inject ready-made BAMs from elsewhere? I would prefer

`BBmap-37.88/bbmap.sh in=$f out="$p".bam local=t minid=0.96 idfilter=0.96 inserttag=t idtag=t ihist="$p".ihist.txt ref=contigs.k128.fa`

The key arguments are the `minid=0.96 idfilter=0.96`, both, to have confident links.

[2018-02-03 00:00] sjackman commented on #143
When mapping short reads to the assembly? Yes, you can use `abyss-pe aligner=bwa`. To use a different aligner, you'll need to create a script like this one
https://github.com/bcgsc/abyss/blob/master/bin/abyss-bwamem:

[2018-02-05 14:20] GideonPisanty commented on #182
it gives three numbers: 1515544, 1894430, 149810599. The second one gives 1515544, 1894430, 150568371.

Divided by 4:  378886, 473607.5, 37452650
                       378886, 473607.5, 37642093

--

[2018-02-05 14:46] mmokrejs opened #185 "Running 'ABYSS -k${ksize} -q3 --coverage-hist=coverage.hist -s ${proj}-bubbles.fa in parallel?"
Hi,
  I wonder why this is running only in a single thread. I have 2 PE libs and 9 MP files (various levels of confidence of true MP-pairs). Why couldn't abyss act on then in parallel?

`abyss-pe j=104 k=128 name=... lib='...' mp='...'.`

 I want to run using 104 local threads, no MPI. This is abyss-2.0.2.

[2018-02-05 17:52] benvvalk commented on #185
Common point of confusion.  Parallelism in the first pipeline stage (de Bruijn graph assembly) is implemented with MPI, not with threads. (Later stages of the pipeline are multithreaded.) So if you want parallelism all the way through you will have to compile with MPI, even if you are just running the job on a single machine.  This is what I would recommend.

Alternatively, if use the new ABySS Bl

[2018-02-05 18:06] mmokrejs commented on #185
Hi Ben,
  1. please, update the manual to eplain that. I am not surprised this is a common confusion.
  2. could you elaborate how long is this single-threaded step going to last? It is still processing the first file paired-end file.
  3. your answer does not explain^H^H^H^H^Hexclude the possibility that all the input files would be processed in concurrent threads and the results merged ater that

[2018-02-05 18:07] sjackman commented on #182
The first number is the number of lines. You have 378,886 reads. I would expect it to print at `Read 300000 reads.` and then `Read 378886 reads.`, but it appears to be getting stuck somewhere between 200k and 300k. How much memory do you have on this machine? Please report…
[code]

[2018-02-05 18:09] sjackman commented on #182
[code]

Are you running this job on a local machine, or on a HPC cluster with a scheduler? `Interrupt` typically means that something intentionally killed job, possibly the scheduler, for exceeding RAM limits.

[2018-02-05 18:15] sjackman commented on #185
Yes. Local MPI uses shared memory to pass messages between processes and is quite fast, and you will benefit from your multiple CPUs.

[2018-02-05 18:20] benvvalk commented on #185
@mmokrejs

Okay, criticism accepted.

Yes, it will be much, much faster.  Use the `np` parameter to specify number of MPI processes for the first (de Bruijn graph) stage and `j` to specify number of threads for later assembly stages.   If ABySS has been successfully compiled with MPI support, you should have a `ABYSS-P` binary on your `PATH`.

[2018-02-05 18:22] GideonPisanty commented on #182
[code]

The "interrupt" is just because I stopped the program once I was frustrated with it after so many hours. I am running it on a local ubuntu.

[2018-02-05 18:22] benvvalk commented on #185
@mmokrejs

Unfortunately, no.   Genome is not an "embarassingly parallel" type of problem where the input files can be split up, processed independently, and then the results merged.

[2018-02-05 18:35] sjackman commented on #182
[code]
You have 2 GB of memory, so you're exceeding your available memory. You have two options:
1. Use a tool such as https://github.com/lh3/bfc to correct your reads before assembly
2. Use the Bloom filter assembly mode of ABySS, which uses roughly a tenth of the memory of the hash table mode that you're currently using.

See https://github.com/bcgsc/abyss#assembling-using-a-bloom-filter-de-brui

[2018-02-05 18:35] #182 closed

[2018-02-05 18:36] benvvalk commented on #182
Thank you, @sjackman!

[2018-02-05 18:36] sjackman commented on #182
@benvvalk ABySS could pretty easily get the available amount of memory and print a warning message when the amount being used exceeds that limit.

[2018-02-05 18:39] benvvalk commented on #182
@sjackman Suggestion noted! I didn't know if there was a portable way to find out the available memory on a machine, but I've never looked into it.

[2018-02-05 18:40] GideonPisanty commented on #182
Thank you very much for helping me out with this. I appreciate it. I should probably run the analysis on our institute's "biocluster" rather than a VBox.

[2018-02-05 18:49] sjackman commented on #182
@benvvalk I haven't found a portable way. Here's some options:
macOS: `sysctl hw.memsize`
Linux: `sysinfo` https://stackoverflow.com/questions/349889/how-do-you-determine-the-amount-of-linux-system-ram-in-c

[2018-02-05 18:56] benvvalk commented on #182
Thanks @sjackman :-)

[2018-02-05 19:05] GideonPisanty commented on #182
Can I fix this by adding swap space? Or does only RAM count?

[2018-02-05 19:09] GideonPisanty commented on #182
Actually the computer's RAM is 32GB. I don't know why only 2GB are available in the VBox. Maybe something in the settings.

[2018-02-05 19:15] benvvalk commented on #182
@GideonPisanty Yes, there is a setting for how much memory you want to allocate for the VM.

[2018-02-05 19:27] GideonPisanty commented on #182
Thanks

[2018-02-07 10:54] mmokrejs commented on #185
But during k-mer spliting and counting, you could do that in parallel, and then merge the dictionary counters right? It is my impression this "--coverage-hist" step is just about this.

[2018-02-07 11:12] mmokrejs opened #187 "Performance of abyss-2.0.2 on a fish genome 1.7Gbp"
Hi,
  I wonder where I could upload few nice figures showing performance of abyss-2.0.2 on our server. It was run in MPI-enabled with OpenMP-enabled mode in steps where no OpenMP is support exists. Thanks to https://github.com/bcgsc/abyss/issues/185#issuecomment-363173408 .

`abyss-pe v=-v np=104 j=104 k=128 ...`

  It has 3.2TB RAM and 112 CPU cores. I used only 104 CPUs. It finished after 1741 m